<div class="white-card">

  <div class="row-fluid">

    <div class="span8">
     <% if ((Time.now > @question.display_time) and (Time.now < @question.close_time)) %>
          <h4><%= @question.name %></h4>

          <div class="blog-categories widget-tp">
            <ul>
              <li>
                <div class="answeroptions shadow" data-toggle="modal" data-target="#check_bonus">
                  <span class="badge badge-warning" >A</span>
                  <h4 style="display:inline;">&nbsp;&nbsp;&nbsp;<%= @option[0].name %></h4>
                </div>
                <input type="hidden" name="answering" value="<%= @option[0].id %>">
              </li>
              <li>
                <div class="answeroptions shadow" data-toggle="modal" data-target="#check_bonus"><span class="badge badge-success">B</span>
                  <h4 style="display:inline;">&nbsp;&nbsp;&nbsp;<%= @option[1].name %></h4></div>
                <input type="hidden" name="answering" value="<%= @option[1].id %>">
              </li>
              <li>
                <div class="answeroptions shadow" data-toggle="modal" data-target="#check_bonus"><span class="badge badge-important">C</span>
                  <h4 style="display:inline;">&nbsp;&nbsp;&nbsp;<%= @option[2].name %></h4></div>
                <input type="hidden" name="answering" value="<%= @option[2].id %>">
              </li>
              <li>
                <div class="answeroptions shadow" data-toggle="modal" data-target="#check_bonus"><span class="badge badge-info">D</span>
                  <h4 style="display:inline;">&nbsp;&nbsp;&nbsp;<%= @option[3].name %></h4></div>
                <input type="hidden" name="answering" value="<%= @option[3].id %>">
              </li>
            </ul>
          </div>
          </div>
     <% else %>
          <h4><%= @question.name %></h4>
          <div class="blog-categories widget-tp">
            <ul>
              <li>
                <div class="answeroptions" data-toggle="modal" data-target="#check_bonus">
                  <span class="badge badge-warning" >A</span>
                  <h4 style="display:inline;">&nbsp;&nbsp;&nbsp;<%= @option[0].name %></h4>
                </div>
                <input type="hidden" name="answering" value="<%= @option[0].id %>">
              </li>
              <li>
                <div class="answeroptions" data-toggle="modal" data-target="#check_bonus"><span class="badge badge-success">B</span>
                  <h4 style="display:inline;">&nbsp;&nbsp;&nbsp;<%= @option[1].name %></h4></div>
                <input type="hidden" name="answering" value="<%= @option[1].id %>">
              </li>
              <li>
                <div class="answeroptions" data-toggle="modal" data-target="#check_bonus"><span class="badge badge-important">C</span>
                  <h4 style="display:inline;">&nbsp;&nbsp;&nbsp;<%= @option[2].name %></h4></div>
                <input type="hidden" name="answering" value="<%= @option[2].id %>">
              </li>
              <li>
                <div class="answeroptions" data-toggle="modal" data-target="#check_bonus"><span class="badge badge-info">D</span>
                  <h4 style="display:inline;">&nbsp;&nbsp;&nbsp;<%= @option[3].name %></h4></div>
                <input type="hidden" name="answering" value="<%= @option[3].id %>">
              </li>
            </ul>
          </div>
          </div>
     <% end %>

    <div class="span4">
      <div class="form-side-info">
        <h4 style="text-align: center;">Bonus</h4>
        <div class="row-fluid">

          <!--<div class="span3"><img src="assets/img/hh.png"></div>-->
          <div class="span12">Send in your answers before 11am and get a 2x bonus</div>
        </div>
          <br>
        <div class="row-fluid">
          <!--<div class="span3"><img src="assets/img/dt.png"></div>-->
          <div class="span12">You can use the double trouble bonus option for this question</div>
        </div>
      </div>
    </div>
  </div>

</div>