<div class="white-card">
  <div class="row-fluid">
    <div class="span8">
      <h4><%= @question.name %></h4>

      <div class="blog-categories widget-tp">
        <ul>
          <li>
            <div class="answeroptions shadow"><span class="badge badge-warning">A</span>
              <h4 style="display:inline;">&nbsp;&nbsp;<%= @option[0].name %></h4>
            </div>
          </li>
          <li>
            <div class="answeroptions shadow"><span class="badge badge-success">B</span>
              <h4 style="display:inline;">&nbsp;&nbsp;<%= @option[1].name %></h4>
            </div>
          </li>
          <li>
            <div class="answeroptions shadow"><span class="badge badge-important">C</span>
              <h4 style="display:inline;">&nbsp;&nbsp;<%= @option[2].name %></h4>
            </div>
          </li>
          <li>
            <div class="answeroptions shadow"><span class="badge badge-info">D</span>
              <h4 style="display:inline;">&nbsp;&nbsp;<%= @option[3].name %></h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <div class="form-side-info">
        <div class="row-fluid">
          <h4>Bonus</h4>
        </div>

        <div class="row-fluid">
          <div class="span3"><img src="assets/img/hh.png"></div>
          <div class="span9">Send in your answers before 11am and get a 2x bonus</div>
        </div>
        <br>

        <div class="row-fluid">
          <div class="span3"><img src="assets/img/dt.png"></div>
          <div class="span9">You can use the double trouble bonus option for this question</div>
        </div>
      </div>
    </div>
  </div>
</div>