<link rel="stylesheet" type="text/css" href="assets/css/style8.css"/>
<link rel="stylesheet" href="assets/css/default.css" type="text/css">


<section class='section-wrapper'>
<div class='row-fluid'>

  <div class="span9">

    <div class="row-fluid">
      <div class="span3"  style="margin-top: -75px;">
        <div>
          <div>
            <a class="brand" href="/" style="margin-left: 10px"><%= image_tag "300px-Tokyoship_Home_icon.svg.png", style:"width:50px;" %></a>
          </div>
          <div>
            <img src="/assets/img/logo.png" class="img_style" style="width:200px;">
          </div>
        </div>
      </div>

      <div class="span9" style="margin-top: 45px;">
        <h3>Question Trail
          <% if user_signed_in? %>
          <div><small>Welcome <%= current_user.name %>! Click on any of the dates to view the day's question</small></div>
          <% end %>
          </h3>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid"  style="margin-top: 15px;">
          <div class="white-card" id="white-card_archive">
            <div id="archives_content">
              <!--<h4>-->
              <%# Date.today.strftime("%d %b %y") %>
              <!--</h4>-->
              <div class="row-fluid">
                <div class="span12">
                <span class="pull-right">
                <button class="btn btn-success" onclick="view_score()">View Answer</button>
                <!--<button class="btn btn-warning" onclick="view_stat()">View Statistics</button>-->
                <a href="#" target="_blank" id="archives_view_article"><button class="btn btn-info" >View news story</button></a>
                </span>
                <span id="tag_list">
                  <h5><%= @yesterday_question.insertion_date.strftime("%d %B %Y, %A") %></h5>
                  <%#= raw (@yesterday_question.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %>
               </span>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span12">
                  <h4 class="question"><%= @question %></h4>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span12">
                  <div class="blog-categories widget-tp">
                    <ul>
                      <li>
                        <div class="answeroptions shadow"><span class="badge badge-warning">A</span>
                          <h4 class="option1" id="<%= @option[0].id %>" style="display:inline;">&nbsp;&nbsp;<%= @option[0].name %>&nbsp;&nbsp;<span class="image_right"></span></h4>
                        </div>
                      </li>
                      <li>
                        <div class="answeroptions shadow"><span class="badge badge-success">B</span>
                          <h4 class="option2" id="<%= @option[1].id %>" style="display:inline;">&nbsp;&nbsp;<%= @option[1].name %>&nbsp;&nbsp;<span class="image_right"></span></h4>
                        </div>
                      </li>
                      <li>
                        <div class="answeroptions shadow"><span class="badge badge-important">C</span>
                          <h4 class="option3" id="<%= @option[2].id %>" style="display:inline;">&nbsp;&nbsp;<%= @option[2].name %>&nbsp;&nbsp;<span class="image_right"></span></h4>
                        </div>
                      </li>
                      <li>
                        <div class="answeroptions shadow"><span class="badge badge-info">D</span>
                          <h4 class="option4" id="<%= @option[3].id %>" style="display:inline;">&nbsp;&nbsp;<%= @option[3].name %>&nbsp;&nbsp;<span class="image_right"></span></h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="white-card" id="white-card_quest" style="display: none;">
            <div>
              <h4>
                <% Date.today.strftime("%d %b %y") %></h4>
              <h6>
            <span class="pull-right">
                <button class="btn btn-success" id="correct_option">View Answer</button>
                <!--<button class="btn btn-warning" id="stat_tag">View Statistics</button>-->
              <!--<a href="#" target="_blank" id="tag_article" onclick="view_tag_article();"><button class="btn btn-info" >View Article</button></a>-->
              <a href="#" target="_blank" id="tag_article"><button class="btn btn-info" >View Article</button></a>
            </span>
              </h6>
              <br>
              <h4 class="question" id="que_content"></h4>

              <div class="blog-categories widget-tp" id="bolg_ul_li">
                <ul>
                  <li>
                    <div class="answeroptions shadow"><span class="badge badge-warning">A</span>
                      <h4 id="quest_option1" style="display:inline;">&nbsp;&nbsp;</h4>
                    </div>
                  </li>
                  <li>
                    <div class="answeroptions shadow"><span class="badge badge-success">B</span>
                      <h4 id="quest_option2" style="display:inline;">&nbsp;&nbsp;</h4>
                    </div>
                  </li>
                  <li>
                    <div class="answeroptions shadow"><span class="badge badge-important">C</span>
                      <h4 id="quest_option3" style="display:inline;">&nbsp;&nbsp;</h4>
                    </div>
                  </li>
                  <li>
                    <div class="answeroptions shadow"><span class="badge badge-info">D</span>
                      <h4 id="quest_option4" style="display:inline;">&nbsp;&nbsp;</h4>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div class='span3'  style="margin-top: 0px;">
    <div class="accordion" id="accordion2">

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <strong><span>Calendar</span></strong>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner" style="height: 260px;">
            <div class="blog-categories widget-tp">
              <input id="datepicker-example13" type="text" style="display:none;">
              <input id="datepicker-example7" type="text" style="display:none;">
              <div id="container"></div>
              <div id="container1" style="display: none;"></div>
            </div>
          </div>
        </div>
      </div>


      <% if user_signed_in? %>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <strong><span>Your Score</span><span class="pull-right" id="points"><img src="/assets/loading.gif" style="height:24px;width:24px;"></span></strong>
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <div class="blog-categories widget-tp">
                  <ul>
                    <li>
                      <a href="#">Your Rank:<span id="rank" class='pull-right'><img src="/assets/loading.gif" style="height:24px;width:24px;"></span></a>
                    </li>
                    <li>
                      <a href="#">Your correct answer rate
                        is:<span id="percentage" class='pull-right'><img src="/assets/loading.gif" style="height:24px;width:24px;"></span>

                        <div class="progress progress-striped active">
                          <div class="bar bar-success"></div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <strong>Recent Activity</strong>
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <div class="blog-categories widget-tp">
                  <ul id="recent_activity">
                  </ul>
                </div>
              </div>
            </div>
          </div>



          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                <strong>Profile</strong>
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                <div class="blog-categories widget-tp">
                  <ul id="user_profile">
                    <li><strong>Name</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:  <%= current_user.name %></li>
                    <li><strong>Location&nbsp;&nbsp;</strong> :  <%= current_user.location %></li>
                    <li><strong>Industry&nbsp;&nbsp;&nbsp;</strong> :  <%= current_user.industry %></li>
                    <li><button class="btn btn-info" id="profile_page" onclick='window.location="/profile"'>View Profile</button></li>
                    <li><button class="btn btn-info btn-small"  id="change_pwd_btn" onclick="change_password();">Change Password</button></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
  <% end %>
  </div>


<style type="text/css">
    .Zebra_DatePicker  {
        margin-left: -20px;
    }
</style>

</section>

<div id="not_found_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
  </div>
  <div class="modal-body">
    <h3>Please select a date between yesterday and 21 October 2013. Game questions feature on weekdays only.
      <!--<span id="question_date"></span>-->
    </h3>
  </div>
</div>

<div id="view_article" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3>Article View</h3>
  </div>
  <div class="modal-body">
    <h2 id="article"></h2>
  </div>
</div>

<div id="view_article_tags" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3>Tag Article</h3>
  </div>
  <div class="modal-body">
    <h2 id="article_tags"></h2>
  </div>
</div>


<div id="nothing_tag" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3>Tags</h3>
  </div>
  <div class="modal-body">
    <h2>Not Found</h2>
  </div>
</div>

<div id="change_pwd_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_tag :quiz_change_password do |f| %>
      <%#= form_tag :html => {:id => "chng_passd"} do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h3>
          Enter the new password
        </h3>
      </div>
      <div class="modal-body">
        <div class="row-fluid">

          <div class="span9">

            <p>
              <label>Password</label>
              <%= password_field_tag :password %>
            </p>
            <div id="pass_text" style="display: none;color: red;">Minimum 8 Characters Required</div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <div class = "btn btn-medium btn-primary pull-left" id ="chng_pwd_btn">Change</div>
        <%= submit_tag "Change", :class => "btn btn-medium btn-primary pull-left",:style=>"display:none;",:id=>"submit_change" %>
      </div>
  <% end %>

</div>


<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/js/zebra_datepicker.js"></script>

<script>




    var correct;
    var quest;
    var tag_quest;
    var date = <%= @date.strftime("%d") %> ;
    var correct_ans_append_count=0;

    function change_password(){
        $('#change_pwd_modal').modal('show');
        $("#pass_text").hide();
        $("#password").val("")
    }

    $("#chng_pwd_btn").click(function(){
        if($("#password").val().length >= 8){
            $("#submit_change").trigger("click");
            $("#pass_text").hide();
        }
        else{
            $("#pass_text").show();
        }
    });





    $(document).ready(function () {

        //alert(a);

        correct =<%= @correct  %>;
        quest=<%= @yesterday_question.id  %>;
        $('#datepicker-example13').Zebra_DatePicker({
            always_visible:$('#container'),
            onSelect:function (view, element) {
//                $("#" + correct).html("");
                load_quest(view, element)
                correct_ans_append_count=0;

            }
        });

       setInterval(function(){
           $('.Zebra_DatePicker').find('.dp_footer').css("display","none");
           $('.Zebra_DatePicker').find('.dp_clear').css("display","none");

       },10);

        //$('td').removeClass('');


        setTimeout(function(){
            load_datepicker(date);
        },1000)


    });

    function load_datepicker(date){
         a=getcurrent(date);
         if (a.length===1){
             $(a).addClass('dp_selected');
         }
         else{
             var curr;
             $(a).each(function(i,v){
                  if(!$(v).hasClass('dp_not_in_month')){
                       curr=$(v)
                  }
             })
             curr.addClass('dp_selected');
         }
    }

    function getcurrent(ar_date){
        //$('.dp_daypicker>td').filter(function(){
            return $('td:contains("'+ar_date+'")');
        //});
    }

    function view_score() {
        if (correct_ans_append_count==0){
            $("#" + correct).append('<img src="assets/img/right.png" style="margin-left: 2%;">');
        }
        correct_ans_append_count=correct_ans_append_count+1
    }

    function view_article() {
        $('#view_article').modal('show')
    }




    function view_stat() {
        window.location = "/view_question_stat/" + quest;
    }

    function load_quest(viewing,this_obj) {

        var data = {question:[]}
        data["question"].push(this_obj);
        $.ajax({
            url:"<%= load_question_path %>",
            type:"POST",
            contentType:"application/json",
            data:JSON.stringify(data),
            success:function (data) {
                if (data == "Not Found") {
                    $('#not_found_modal').modal('show');
                    $('#question_date').html("");
                    var quiz_date=data.toString().split('|')[10];
                    $('#question_date').html(this_obj);
                } else {
                    $('#article').html("");
                    $('#archives_view_article').attr('href',"");

                    $('#tag_article').attr('href',"");

                    $('#tag_list').html("");

                    var question = data.toString().split('|')[0];
                    var a1 = data.toString().split('|')[1];
                    var a2 = data.toString().split('|')[2];
                    var a3 = data.toString().split('|')[3];
                    var a4 = data.toString().split('|')[4];
                    correct = data.toString().split('|')[5];
                    quest = data.toString().split('|')[6];
                    var image = data.toString().split('|')[7];
                    var tags = data.toString().split('|')[8];
                    var insertion_date=data.toString().split('|')[9];
                    var quiz_date=data.toString().split('|')[10];
                    $('.question').html(question);


                    $('.option1').attr('id', a1.toString().split(';')[0]);
                    $('.option1').html(a1.toString().split(';')[1]);

                    $('.option2').attr('id', a2.toString().split(';')[0]);
                    $('.option2').html(a2.toString().split(';')[1]);

                    $('.option3').attr('id', a3.toString().split(';')[0]);
                    $('.option3').html(a3.toString().split(';')[1]);

                    $('.option4').attr('id', a4.toString().split(';')[0]);
                    $('.option4').html(a4.toString().split(';')[1]);

                    $('#article').append('<img  src=' + image + '>');
                    $('#archives_view_article').attr('href',image);

                    $('#tag_article').attr('href',image);

                    $('#tag_list').append('<h5>'+ quiz_date +'</h5>');
                    load_datepicker(insertion_date);


                }
            }
        });
    }


    $('#tag_search').click(function () {
        var tag = ($('#field1').val());
        var data = {tag:[]}
        data["tag"].push(tag);
        $.ajax({
            url:"<%= tag_list_path %>",
            type:"POST",
            contentType:"application/json",
            data:JSON.stringify(data),
            dataType:'json',
            success:function (data) {
                if (data == "Nothing"){
                    $('#nothing_tag').modal('show');
                }
                else{
                    $('#article_tags').html("");
                    $('#container').hide();
                    $('#white-card_archive').hide();
                    $('#white-card_quest').show();
                    $('#backing').show();
                    $('#tag_area').hide();
                    $('#tag_search').hide();
                    $.each(data, function (key, value) {
                        value = value.split('|');
                        $('#container2').show();
                        $('#container2 ul').append('<li class="insert_li" id=' + value[0] + '><a href="# '+(key+1)+' "data-toggle="tab" class="side-tag"> '+ value[1] + '</a></li>');
                    });

                    $('.insert_li').on('click', function () {
                        correct_ans_append_count=0;
                        $('#que_content').html('');
                        $('#bolg_ul_li').find("input[value='true']").parent().css("background","white");
                        $.ajax({
                            url:"/question_details/"+$(this).attr('id'),
                            type:"GET",
                            success:function (data) {
                                var value = data.split('||');
                                $('#que_content').html(value[0]);
                                $('#article').append('<img  src=' + value[4] + '>');
                                tag_quest=value[5];
                                options = value[1].split("&&");
                                ids = value[2].split("&&");
                                is_correct = value[3].split("&&");
                                $.each(options, function (index, element) {
                                    $('#quest_option'+(index+1)).html(element);
                                });
                                $.each(is_correct, function (ind, ele) {
                                    $('#quest_option'+(ind+1)).append('<input type="hidden" value=' + ele + '>');
                                });

                            }
                        })
                    });
                }

            }
        });
    });


    $('#correct_option').on("click",function(){
        if (correct_ans_append_count==0){
            $('#bolg_ul_li').find("input[value='true']").parent().append('<img src="assets/img/right.png" style="margin-left: 2%;">');
        }
        correct_ans_append_count=correct_ans_append_count+1

    });

    $('#backing').on("click",function(){
        window.location="/archives"
    });

    $('#tag_article').on("click",function(){
//          $('#view_article_tags').modal('show')
    });

    $('#stat_tag').on("click",function(){
       window.location=  "/view_question_stat/" + tag_quest;
    });


    <%if user_signed_in?%>

    var curr_usr_fb_sign_in_count = "<%= current_user.fb_sign_in_count %>";
    var fb_signed_in = <%= current_user.fb_signed_in %>;

    $.ajax({
        url:"/recent_activity",
        type:"get",
        success:function (returning_data) {
            if(returning_data!=''){
                returning_data=returning_data.split(",");
                $('#recent_activity').html();
                $.each(returning_data,function(){
                    recent = this.replace("[", "").replace("]", "").replace('"', '').replace('"', '').replace('"', '');
                    $("#recent_activity").append('<li class="rec_act" onclick="show_rec_act();"><a href="#">' + recent + '</a></li>');
                });
            }
        }
    });

    $.ajax({
        url: "/all_recent_activities",
        type: "get",
        success: function (returning_data) {
            if (returning_data != '') {
                returning_data = returning_data.split(",");
                $('#recent_activity').html();
                $.each(returning_data, function () {
                    recent = this.replace("[", "").replace("]", "").replace('"', '').replace('"', '');
                    $("#all_recent_activity").append('<li><a href="#">' + recent + '</a></li>');
                });
            }
        }
    });

    if ( fb_signed_in == true) {

        $.ajax({
            url:"/update_fb_sign_in_score",
            type:"get",
            success:function (returning_data) {

            }
        });

    }

    $.ajax({
        url:"/get_score",
        type:"get",
        success:function (returning_data) {
            if(returning_data!=''){
                returning_data=returning_data.split("|");

                var fb_sign_in_score = <%= current_user.fb_sign_in_score.to_i %>;
                var ref_pts = <%= current_user.refer_points.to_i %>;
                var fb_signed_in = <%= current_user.fb_signed_in %>;

                if ( fb_signed_in == true) {
                    $("#points").html(ref_pts + fb_sign_in_score + " Points");
                }
                else{
                    $("#points").html(<%=current_user.refer_points%>+" Points");
                }



                $("#rank").html(<%=User.order(:refer_points).map{|i| i.refer_points}.reverse.index(current_user.refer_points)+1%>);
                $("#percentage").html(returning_data[2]+"%");
                $(".bar").width(parseInt(returning_data[2])+"%");
            }
        }
    });
    <%end%>


    function show_rec_act(){
        $("#rec_act_modal").modal('show');
    }


</script>



<div id="rec_act_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3>
      Recent Activity
    </h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span9">
        <div class="blog-categories widget-tp">
          <ul id="all_recent_activity">

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">

  </div>
</div>



<script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');



    ga('create', 'UA-44964472-1', 'winwithet.com');

    ga('send', 'pageview');



</script>