<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Welcome to The Economic Times</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link href="assets/css/venera.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Abel:400|Oswald:300,400,700" media="all" rel="stylesheet" type="text/css"/>
  <meta content="authenticity_token" name="csrf-param"/>
  <meta content="itlmC+fCL/hVYfNHIdCSxa8twGVC/QSVM5tfOV/RXqY=" name="csrf-token"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/common.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/stapel.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/style4.css"/>
  <link rel="stylesheet" href="/assets/css/jarvis-widgets.css?v=1">
  <link rel="stylesheet" href="/assets/css/DT_bootstrap.css?v=1">
  <link rel="stylesheet" href="/assets/css/theme.css?v=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'/>
  <script type="text/javascript" src="/assets/js/modernizr.custom.79639.js"></script>
  <!--<script src="assets/js/modernizr.custom.63321.js"></script>-->
</head>

<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->

<header id='header'>
  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container'>
        <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </a>
        <a href="/theme_venera/index" class="brand">Curious ET</a>

        <div class='nav-collapse subnav-collapse pull-right collapse' id='top-navigation'>
          <ul class='nav'>

          </ul>
          <div class='top-account-control visible-desktop'>
            <a href="#" class="top-create-account">Logout</a>
            <a href="#" class="top-sign-in">Welcome Kunal</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>


<section class='section-wrapper'>
<div class='container'>

<!-- Row Start -->

<div class='row'>

<div class='span8'>

  <h3 class="section-header">
    <span><!-- <img src="assets/img/archives/recent.png" style="width:7%;">&nbsp; -->Archives</span></h3>

  <div class="jarviswidget">


    <div class="inner-spacer">
      <!-- content goes here -->
      <div class="inbox-body" id="inbox-body-js">
        <div class="inbox-body-content" id="inbox-loading-panel-js">
          <h3 class="message-from">10th August 2013</h3>

          <div>
            <button class="btn btn-danger" style="margin-bottom:10px;" onclick="view_score();">View Answer</button>
            <button class="btn btn-warning" style="margin-bottom:10px;">View Question Stats</button>
          </div>
          <div class="message-container">

            <div class="message-body">
              <h4><%= @question %></h4>
              <h5 style="background-color:#ffffff; padding:10px;" id="<%=@option[0].id  %>">(A) <%= @option[0].name %></h5>
              <h5 style="background-color:#ffffff; padding:10px;" id="<%=@option[1].id  %>">(B) <%= @option[1].name %></h5>
              <h5 style="background-color:#ffffff; padding:10px;" id="<%=@option[2].id  %>">(C) <%= @option[2].name %></h5>
              <h5 style="background-color:#ffffff; padding:10px;" id="<%=@option[3].id  %>">(D) <%= @option[3].name %></h5>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
            </div>
          </div>
        </div>

      </div>
      <div class="inbox-menu">
        <div class="inbox-control-panel">

          <!-- Search Bar Has To Be Put Here -->

        </div>
        <!-- SLIDING MENU -->
        <div class="slashc-sliding-menu" id="inbox-menu-js">
          <h1 id="inbox-menu-header-js">
            <span>test</span>
            <a title="Slide Back Home" href="javascript:void(0);" class="slashc-sliding-menu-home btn btn-inverse" style="width:72%;">
              Back
            </a>
          </h1>
          <ul class="mailbox" id="mailbox-js">
            <% @month_list.each_with_index do |ml, index| %>
                <li>
                  <a href="javascript:void(0);"><span><%= Date::MONTHNAMES[ml[1]]  %> <%= ml[0] %></span></a>
                  <ul>
                    <% @questions[index].each do |dt| %>
                        <li  onclick="load_quest($(this).children().first().val());">
                          <input type="hidden" value="<%= dt.id %>"/>
                          <a href="javascript:void(0)">
                    <span class="tiny-sub">
                        <%= dt.insertion_date %>
                        <span class="tiny-des"><%= dt.name %></span>
                    </span>
                          </a>
                        </li>
                    <% end %>
                  </ul>
                </li>

            <% end %>
          </ul>
        </div>
        <!-- end SLIDING MENU -->
      </div>


    </div>
    <!-- end content-->

    <!-- end wrap div -->
  </div>

</div>

<div class='span3'>

  <div class="row-fluid">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <strong>Recent Activity</strong>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="blog-categories widget-tp">
              <ul>
                <li>
                  <a href="#">You answered a question for 10 points</a>
                </li>
                <li>
                  <a href="#">You won a bonus of 100 points</a>
                </li>
                <li>
                  <a href="#">You lost 30 points in a Triple Threat gamble</a>
                </li>
                <li>
                  <a href="#">You updated your profile</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            <strong><span>Your Score</span><span class="pull-right">500 Points</span></strong>
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="blog-categories widget-tp">
              <ul>
                <li>
                  <a href="#">Your Current Rank is:<span class='pull-right'>43</span></a>
                </li>
                <li>
                  <a href="#">Your Correct Answer Rate is:<span class='pull-right'>80%</span>

                    <div class="progress progress-striped active">
                      <div class="bar bar-success" style="width: 80%;"></div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">

    <div class="blog-side-tags widget-tp">
      <h3>
        <i class="icon-tags"></i>
        Popular Tags
      </h3>
      <ul>
        <li>
          <a class="side-tag" href="#">Finance</a>
        </li>
        <li>
          <a class="side-tag" href="#">GDP</a>
        </li>
        <li>
          <a class="side-tag" href="#">Reliance</a>
        </li>
        <li>
          <a class="side-tag" href="#">RBI</a>
        </li>
        <li>
          <a class="side-tag" href="#">Economic Times</a>
        </li>
        <li>
          <a class="side-tag" href="#">Dollar</a>
        </li>
        <li>
          <a class="side-tag" href="#">Sensex</a>
        </li>
      </ul>
      <%= raw @yesterday_question.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </div>

  </div>

</div>


<div class="span1">

  <div class='row'>
    <div class="social">
      <a class='testimonials-user-w active' data-toggle='testimonial' href='#'>
        <img alt="facebook" src="assets/img/archives/facebook.png" style="width:60%;"/>
      </a>
    </div>
  </div>

  <div class='row'>
    <div class="social">
      <a class='testimonials-user-w active' data-toggle='testimonial' href='#'>
        <img alt="twittter" src="assets/img/archives/twitter.png" style="width:60%;"/>
      </a>
    </div>
  </div>

  <div class='row'>
    <div class="social">
      <a class='testimonials-user-w active' data-toggle='testimonial' href='#'>
        <img alt="Avatar-1" src="assets/img/archives/linkedin.png" style="width:60%;"/>
      </a>
    </div>
  </div>

</div>

</div>

<!-- Row End -->

<!-- Row Start -->

<div class='row'>

  <div class='span12'>

    <!-- <h3 class='section-header'>
        <span class=""><img src="assets/img/archives/go.png" style="width:8%;"/></span>
        Where Do You Wanna Go?
    </h3> -->

    <ul class="ch-grid">
      <li>
        <div class="ch-item ch-img-1">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1"></div>
              <a href="#" style="text-decoration:none;">
                <div class="ch-info-back">
                  <h3>Home</h3></div>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-2">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-2"></div>
              <a href="#" style="text-decoration:none;">
                <div class="ch-info-back">
                  <h3>Quiz</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-3">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-3"></div>
              <a href="#" style="text-decoration:none;">
                <div class="ch-info-back">
                  <h3>Archives</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-3">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-3"></div>
              <a href="#" style="text-decoration:none;">
                <div class="ch-info-back">
                  <h3>Leader Board</h3></div>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-3">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-3"></div>
              <a href="#" style="text-decoration:none;">
                <div class="ch-info-back">
                  <h3>Profile</h3></div>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>

<!-- Row End -->

</div>
</section>


<script src="/assets/js/venera.js" type="text/javascript"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    var _gaq = [
        ['_setAccount', 'UA-34697555-1'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>

<!--<script type="text/javascript" src="assets/js/jquery.stapel.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<!-- REQUIRED: Toastr & Jgrowl notifications  -->
<script src="assets/js/jquery.inbox.slashc.sliding-menu.js"></script>
<script src="assets/js/jquery.jgrowl.min.js"></script>
<script src="assets/js/slimScroll.js"></script>
<script type="text/javascript">
  var correct;
    $(function () {
        setup_slimscroll();
        correct=<%= @correct  %>;
        var $grid = $('#tp-grid'),
                $name = $('#name'),
                $close = $('#close'),
                $loader = $('<div class="loader"><i></i><i></i><i></i><i></i><i></i><i></i><span>Loading...</span></div>').insertBefore($grid),
                stapel = $grid.stapel({
                    onLoad: function () {
                        $loader.remove();
                    },
                    onBeforeOpen: function (pileName) {
                        $name.html(pileName);
                    },
                    onAfterOpen: function (pileName) {
                        $close.show();
                    }
                });

        $close.on('click', function () {
            $close.hide();
            $name.empty();
            stapel.closePile();
        });


        function setup_slimscroll() {
            /* mini inbox dropdown */
            $('ul#mailbox-slimscroll-js').slimScroll({
                height: '277px',
                width: '240px',
                disableFadeOut: true,
                distance: 3,
                size: 7
            });

            /* chat message box */
            $('div.chat-messages').slimScroll({
                height: '370px',
                disableFadeOut: true,
                railVisible: true,
                distance: 3,
                size: 7
            });

            if ($('#inbox-menu-js').length) {

                //$('h1#inbox-menu-header-js').slideUp(2200, 'easeOutSine');
                $('#inbox-menu-js').slimScroll({
                    height: '518px',
                    width: '249',
                    disableFadeOut: true,
                    distance: 3,
                    size: 7
                });
                //hide_inbox_menu_header()

                $('#inbox-loading-panel-js').slimScroll({
                    height: '518px',
                    width: 'auto',
                    disableFadeOut: true,
                    distance: 5,
                    size: 7
                });


            }// end if

        }

        $(".tiny-sub").parent().click(function(){
            //alert($(this).children().first().val());
        });
    });

    function view_score(){
        $("#"+correct).css("background-color","red");
        //alert(correct);
    }

    function load_quest(this_obj)
    {
        //alert(this_obj);
        var data = {question:[]}
        data["question"].push(this_obj);
        $.ajax({
            url:"<%= load_question_path %>",
            type:"POST",
            contentType:"application/json",
            data: JSON.stringify(data),
            success:function (data) {
//                alert(data.toString().split('|')[1].split(';')[0]);
                var question=data.toString().split('|')[0];
                var a1=data.toString().split('|')[1];
                var a2=data.toString().split('|')[2];
                var a3=data.toString().split('|')[3];
                var a4=data.toString().split('|')[4];
//                                alert(data.toString().split('|')[5]);
                correct=data.toString().split('|')[5];

                $('.message-body').html('<h4>'+question+'</h4>'+
                                        '<h5 style="background-color:#ffffff; padding:10px;" id="'+a1.toString().split(';')[0]+'">(A) '+a1.toString().split(';')[1]+'</h5>'+
                                        '<h5 style="background-color:#ffffff; padding:10px;" id="'+a2.toString().split(';')[0]+'">(B) '+a2.toString().split(';')[1]+'</h5>'+
                                        '<h5 style="background-color:#ffffff; padding:10px;" id="'+a3.toString().split(';')[0]+'">(C) '+a3.toString().split(';')[1]+'</h5>'+
                                        '<h5 style="background-color:#ffffff; padding:10px;" id="'+a4.toString().split(';')[0]+'">(D) '+a4.toString().split(';')[1]+'</h5>'+
                                        '</br></br></br></br></br></br> ');

                $('.message-from').html();

            }
        });

    }
</script>

</body>
</html>