<script src="assets/jquery.dependent-selects.js"></script>
<script type="text/javascript">
  $(function(){
     $('.dependent').dependentSelects();
  });
</script>

<div style="padding: 15px;">
<h5>Daily Winners</h5>
<table>
  <tbody>
  <tr>
    <th>Mobile Number</th>
    <th></th>
    <th></th>
  </tr>
  <% @daily_winners.each do |dw| %>
      <tr>
        <td><%= User.find(dw.user_id).username %></td>
        <td><input type="hidden" value="<%= dw.user_id %>">
          <button class="btn btn-success" onclick="update_this_user($(this))">Edit</button>
        </td>
        <td><input type="hidden" value="<%= dw.user_id %>">
          <button class="btn btn-success display_daily ">Display</button>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<script type="text/javascript">
    function update_this_user(this_obj) {
        $("#uid").val($(this_obj).prev().val());
        $('#edit_profile').modal('show');
    }

    $('.display_daily').click(function(){
       var dis_val=($(this).prev().val());
        var data = {dis_val: []}
        data["dis_val"].push(dis_val);

        $.ajax({
            url: "<%= dis_value_change_path %>",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (data) {

            }
        });
    });

</script>

<div id="edit_profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_tag :admin_update_profile do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h3>
          Edit Profile
        </h3>
      </div>
      <div class="modal-body">
        <div class="row-fluid">
          <div class="span9">

            <%= hidden_field_tag "uid" %>

            <p>
              <label>Name</label>
              <%= text_field_tag :name %>
            </p>

            <!--<p>-->
              <!--<label>Age</label>-->
              <!--<%# age_array = (1..100).to_a.collect { |p| ["#{p}", p] } %>-->
              <!--<%#= select_tag(:age, options_for_select(age_array), :prompt => "Select age") %>-->
            <!--</p>-->

            <!--<p>-->
              <!--<label>Work Experience</label>-->
              <!--<%#= text_field_tag :workx, @user.workx %>-->
              <!--<%# workx_array = (1..100).to_a.collect { |p| ["#{p}", p] } %>-->
              <!--<%#= select_tag(:workx, options_for_select(workx_array), :prompt => "Select work experience") %>-->
            <!--</p>-->

            <p>
              <label> Location (State, City)</label>
              <select name="location" class="dependent">
                <option></option>
                <option value="Andhra Pradesh, Hyderabad">Andhra Pradesh > Hyderabad</option>
                <option value="Andhra Pradesh, Visakhapatnam">Andhra Pradesh > Visakhapatnam</option>
                <option value="Assam, Guwahati">Assam > Guwahati</option>
                <option value="Bihar, Patna">Bihar > Patna</option>
                <option value="Chandigarh, Chandigarh">Chandigarh > Chandigarh</option>
                <option value="Chhattisgarh, Raipur">Chhattisgarh > Raipur</option>
                <option value="Delhi, Delhi">Delhi > Delhi</option>
                <option value="Gujarat, Ahmedabad">Gujarat > Ahmedabad</option>
                <option value="Gujarat, Surat">Gujarat > Surat</option>
                <option value="Gujarat, Vadodara">Gujarat > Vadodara</option>
                <option value="Haryana, Gurgaon">Haryana > Gurgaon</option>
                <option value="Jammu and Kashmir, Jammu">Jammu and Kashmir > Jammu</option>
                <option value="Jammu and Kashmir, Srinagar">Jammu and Kashmir > Srinagar</option>
                <option value="Jharkhand, Ranchi">Jharkhand > Ranchi</option>
                <option value="Karnataka, Bangalore">Karnataka > Bangalore</option>
                <option value="Karnataka, Mysore">Karnataka > Mysore</option>
                <option value="Kerala, Kochi (Cochin)">Kerala > Kochi (Cochin)</option>
                <option value="Kerala, Thrissur">Kerala > Thrissur</option>
                <option value="Kerala, Trivandrum (Thiruvananthapuram)">Kerala > Trivandrum (Thiruvananthapuram)
                </option>
                <option value="Madhya Pradesh, Bhopal">Madhya Pradesh > Bhopal</option>
                <option value="Madhya Pradesh, Indore">Madhya Pradesh > Indore</option>
                <option value="Maharashtra, Aurangabad">Maharashtra > Aurangabad</option>
                <option value="Maharashtra, Mumbai">Maharashtra > Mumbai</option>
                <option value="Maharashtra, Nagpur">Maharashtra > Nagpur</option>
                <option value="Maharashtra, Pune">Maharashtra > Pune</option>
                <option value="Orissa, Bhubaneswar">Orissa > Bhubaneswar</option>
                <option value="Orissa, Cuttack">Orissa > Cuttack</option>
                <option value="Orissa, Rourkela">Orissa > Rourkela</option>
                <option value="Puducherry, Puducherry">Puducherry > Puducherry</option>
                <option value="Punjab, Amritsar">Punjab > Amritsar</option>
                <option value="Punjab, Jalandhar">Punjab > Jalandhar</option>
                <option value="Punjab, Ludhiana">Punjab > Ludhiana</option>
                <option value="Punjab, Patiala">Punjab > Patiala</option>
                <option value="Rajasthan, Ajmer">Rajasthan > Ajmer</option>
                <option value="Rajasthan, Jaipur">Rajasthan > Jaipur</option>
                <option value="Rajasthan, Jodhpur">Rajasthan > Jodhpur</option>
                <option value="Rajasthan, Udaipur">Rajasthan > Udaipur</option>
                <option value="Tamil Nadu, Chennai">Tamil Nadu > Chennai</option>
                <option value="Tamil Nadu, Coimbatore">Tamil Nadu > Coimbatore</option>
                <option value="Tamil Nadu, Madurai">Tamil Nadu > Madurai</option>
                <option value="Tamil Nadu, Salem">Tamil Nadu > Salem</option>
                <option value="Tamil Nadu, Tiruchirappalli">Tamil Nadu > Tiruchirappalli</option>
                <option value="Tripura, Agartala">Tripura > Agartala</option>
                <option value="Uttar Pradesh, Agra">Uttar Pradesh > Agra</option>
                <option value="Uttar Pradesh, Allahabad">Uttar Pradesh > Allahabad</option>
                <option value="Uttar Pradesh, Bulandshahr">Uttar Pradesh > Bulandshahr</option>
                <option value="Uttar Pradesh, Ghaziabad">Uttar Pradesh > Ghaziabad</option>
                <option value="Uttar Pradesh, Kanpur">Uttar Pradesh > Kanpur</option>
                <option value="Uttar Pradesh, Lucknow">Uttar Pradesh > Lucknow</option>
                <option value="Uttar Pradesh, Noida">Uttar Pradesh > Noida</option>
                <option value="Uttar Pradesh, Varanasi">Uttar Pradesh > Varanasi</option>
                <option value="Uttarakhand, Dehradun">Uttarakhand > Dehradun</option>
                <option value="West Bengal, Asansol">West Bengal > Asansol</option>
                <option value="West Bengal, Howrah">West Bengal > Howrah</option>
                <option value="West Bengal, Kolkata">West Bengal > Kolkata</option>
                <option value="West Bengal, Siliguri">West Bengal > Siliguri</option>
              </select>
            </p>

            <p>
              <label>Industry</label>
              <%#= text_field_tag :industry, @user.industry %>
              <%#= select_tag :industry, options_for_select(%w(Accounting Animation Apparel & Fashion  Architecture&Planning Automotive Banking Biotechnology Broadcast Media Business Supplies and Equipment Capital Markets Chemicals Commercial Real Estate Construction Consumer Goods Cosmetics Design Electrical/Electronic Manufacturing Entertainment Financial Services Graphic Design Health, Wellness and Fitness Hospitality Human Resources Import and Export Information Services Information Technology and Services Insurance Legal Services Leisure, Travel & Tourism Market Research Marketing and Advertising Mining & Metals Motion Pictures and Film Non-Profit Organization Management Online Media Public Relations and Communications Real Estate Restaurants Retail Sports Telecommunications Textiles)) %>
              <%#= select_tag "industry", "<option>Red Laal</option><option>Green</option><option>Blue</option>".html_safe %>

              <%= select_tag "industry", options_for_select(["Graphic Design", "Architecture & Planning", "Engineering",
                                                             "Cosmetics", "Apparel & Fashion",
                                                             "Consumer Electronics",
                                                             "Furniture",
                                                             "Retail",
                                                             "Import and Export",
                                                             "Luxury Goods & Jewelry",
                                                             "Marketing and Advertising",
                                                             "Market Research",
                                                             "Public Relations and Communications",
                                                             "Human Resources",
                                                             "Banking",
                                                             "Insurance",
                                                             "Financial Services",
                                                             "Accounting",
                                                             "Computer Hardware",
                                                             "Computer Networking",
                                                             "Telecommunications",
                                                             "Information Technology and Services",
                                                             "Chemicals",
                                                             "Mining & Metals",
                                                             "Oil & Energy",
                                                             "Textiles",
                                                             "Electrical/Electronic Manufacturing",
                                                             "Plastics",
                                                             "Packaging and Containers",
                                                             "Media",
                                                             "Animation",
                                                             "Biotechnology",
                                                             "Medical Practice",
                                                             "Hospital & Health Care",
                                                             "Pharmaceuticals",
                                                             "Veterinary",
                                                             "Consumer Services",
                                                             "Entertainment",
                                                             "Leisure, Travel & Tourism",
                                                             "Hospitality",
                                                             "Airlines/Aviation",
                                                            ]), :prompt => "Select industry" %>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Update", :class => "btn btn-medium btn-primary" %>
      </div>
  <% end %>
</div>
</div>