<link rel="stylesheet" type="text/css" href="/assets/css/style8.css" />
<link rel="stylesheet" href="assets/css/default.css" type="text/css">

<style type="text/css">
    a { cursor: pointer; }
</style>

<section class='section-wrapper'>
  <div class='container'>
    <!-- Row Start -->
    <div class='row'>
      <div class='span9'>
        <h4 class="section-header">Today's Quiz<span class="pull-right"><%= Date.today.strftime("%d-%b-%y") %></span></h4>
        <%if !@question.nil?%>
        <% if @question.question_type=="type1" %>
          <% if user_signed_in? %>
            <%= render :partial => "type1" %>
          <% else %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
              </button>
              <h3></h3>
            </div>
            <div class="modal-body">
              <h2>Please Login to answer the quiz</h2>

              <div class="row-fluid">
                <div class="span3"></div>
                <div class="span9">
                  <!--<input type="text" name="ref_email" id="referance_friend">-->
                </div>
              </div>
            </div>
          <% end %>
        <% elsif @question.question_type=="type2" %>
          <%= render :partial => "type2" %>
        <% elsif @question.question_type=="type3" %>
          <%= render :partial => "type3" %>
        <% elsif @question.question_type=="type4" %>
          <%= render :partial => "type4" %>
        <% else %>
          <%= render :partial => "type1" %>
        <% end %>
        <%else%>
          <p>Welcome to Winet, There is no question today, please see the newspaper to get updated.</p>
        <%end%>
        </div>
      <% if !user_signed_in? %>
          <div class="span3">
            <div class="white-card">
              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

                  <div class="row-fluid" style="padding-top: 10px;">
                    <div class="span12">
                      <%= f.text_field :username, :autofocus => true,:placeholder => "Mobile Number",:style => "width:95%;" %>
                    </div>
                  </div>

                  <div class="row-fluid">
                    <div class="span12">
                      <%= f.password_field :password,:placeholder => "Password",:style => "width:95%;" %>
                    </div>
                  </div>

                  <div class="row-fluid">
                    <div class="span12">
                      <%= f.submit "Sign in",:class => "btn btn-info",:style => "width:100%;" %>
                    </div>
                  </div>

                  <div class="row-fluid" style="padding-top:5px;">
                    <div class="span12" style="text-align: center;">
                      <a href="#" onclick="view_register();">Need an account Register here</a>
                    </div>
                  </div>

                  <div class="row-fluid" style="text-align: center;">
                    <div class="span12">
                      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                      <% end -%>
                    </div>
                  </div>

              <% end %>

            </div>
          </div>
      <% else %>
          <div class='span3'>
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    <strong><span>Your Score</span><span class="pull-right" id="points"><img src="/assets/loading.gif" style="height:24px;width:24px;"></span></strong>
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <div class="blog-categories widget-tp">
                      <ul>
                        <li>
                          <a href="#">Your Current Rank
                            is:<span id="rank" class='pull-right'><img src="/assets/loading.gif" style="height:24px;width:24px;"></span></a>
                        </li>
                        <li>
                          <a href="#">Your Correct Answer Rate
                            is:<span id="percentage" class='pull-right'><img src="/assets/loading.gif" style="height:24px;width:24px;"></span>

                            <div class="progress progress-striped active">
                              <div class="bar bar-success"></div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    <strong>Recent Activity</strong>
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="blog-categories widget-tp">
                      <ul id="recent_activity">

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    <strong>Profile</strong>
                  </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="blog-categories widget-tp">
                      <ul id="user_profile">
                        <li><strong>Nickname</strong> :  <%= current_user.name %></li>
                        <li><strong>Location&nbsp;&nbsp;</strong> :  <%= current_user.location %></li>
                        <li><strong>Industry&nbsp;&nbsp;&nbsp;</strong> :  <%= current_user.industry %></li>
                        <li><button class="btn btn-info" id="profile_page" onclick='window.location="/profile"'>View Profile</button></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
        </div>

        <!-- Row End -->

        <!-- Row Start -->

        <div class='row'>
          <div class='span12'>
            <ul class="ch-grid">
              <li onclick='window.location="/";'>
                <div class="ch-item ch-img-1">
                  <div class="ch-info-wrap">
                    <a href="#" style="text-decoration:none;">
                      <div class="ch-info">
                        <div class="ch-info-front ch-img-1"></div>
                        <div class="ch-info-back">
                          <h3>Home</h3>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li onclick='window.location="/quiz";'>
                <div class="ch-item ch-img-2">
                  <div class="ch-info-wrap">
                    <a href="#" style="text-decoration:none;">
                      <div class="ch-info">
                        <div class="ch-info-front ch-img-1"></div>
                        <div class="ch-info-back">
                          <h3>Quiz</h3>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li onclick='window.location="/archives";'>
                <div class="ch-item ch-img-3">
                  <div class="ch-info-wrap">
                    <a href="#" style="text-decoration:none;">
                      <div class="ch-info">
                        <div class="ch-info-front ch-img-1"></div>
                        <div class="ch-info-back">
                          <h3>Archives</h3>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>

              <% if user_signed_in? %>
                  <li onclick='window.location="/leaderboards";'>
                    <div class="ch-item ch-img-4">
                      <div class="ch-info-wrap">
                        <a href="#" style="text-decoration:none;">
                          <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back">
                              <h3>Leader Board</h3>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li onclick='window.location="/profile";'>
                    <div class="ch-item ch-img-5">
                      <div class="ch-info-wrap">
                        <a href="#" style="text-decoration:none;">
                          <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back">
                              <h3>Profile</h3>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
              <% end %>

            </ul>
          </div>
        </div>
        <!-- Row End -->
      </div>
    </section>

    <div id="check_bonus" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h3>Want to bet on it?</h3>
      </div>
      <div class="modal-body">
        <h1>Double Trouble Bonus</h1>

        <div class="row-fluid">
          <div class="span3"><%= image_tag "dice.jpg" %></div>
          <div class="span9">
            <p>
              If you are sure of the answer, you can bet on it. If your answer is correct, you will get 10
              additional points, else you will lose 10 points
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn medium" data-dismiss="modal">Cancel</a>
        <a href="javascript:void(0);" class="btn medium btn-danger" id="dbltrbl">Double Trouble</a>
        <a href="javascript:void(0);" class="btn medium btn-primary" id="tritry">Triple Try</a>
      </div>
    </div>


    <script>
      $(function () {
        var option_answer;
        var question_id;
        var user_id;
        var response;
        <%if user_signed_in?%>

          var curr_usr_fb_sign_in_count = "<%= current_user.fb_sign_in_count %>";
          var fb_signed_in = <%= current_user.fb_signed_in %>;

        $.ajax({
          url:"/recent_activity",
          type:"get",
          success:function (returning_data) {
            if(returning_data!=''){
              returning_data=returning_data.split(",");
              $('#recent_activity').html();
              $.each(returning_data,function(){
                recent=this.replace("[","").replace("]","").replace('"','');
                $("#recent_activity").append('<li><a href="#">'+recent+'</a></li>');
              });
            }
          }
        });

          if ( fb_signed_in == true) {

              $.ajax({
                  url:"/update_fb_sign_in_score",
                  type:"get",
                  success:function (returning_data) {

                  }
              });

          }

        $.ajax({
          url:"/get_score",
          type:"get",
          success:function (returning_data) {
            if(returning_data!=''){
              returning_data=returning_data.split("|");

                var fb_sign_in_score = <%= current_user.fb_sign_in_score.to_i %>;
                var ref_pts = <%= current_user.refer_points.to_i %>;
                var fb_signed_in = <%= current_user.fb_signed_in %>;

                if ( fb_signed_in == true) {
                    $("#points").html(ref_pts + fb_sign_in_score + " Points");
                }
                else{
                    $("#points").html(<%=current_user.refer_points%>+"Points");
                }



              $("#rank").html(<%=User.order(:refer_points).map{|i| i.refer_points}.reverse.index(current_user.refer_points)+1%>);
              $("#percentage").html(returning_data[2]+"%");
              $(".bar").width(parseInt(returning_data[2])+"%");
            }
          }
        });
        <%end%>


        <% if !@question.nil?%>
        <% if @question.close_time<Time.now and @question.question_type=="type1"%>
        $(".answeroptions").on("click",function () {
          option_answer = $(this).next().val();
          var question_id = $(".question").attr("id");
          var user_id = $(".user_id").attr("id");
          var data = {question: [], option: []};
          data["question"].push(question_id);
          data["option"].push(option_answer);
          $.ajax({
            url: "/create_response",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (data) {
              response = data;
            }
          });
        });

        $("#submit_button").click(function () {
          var question_id = $(".question").attr("id");
          var user_id = $(".user_id").attr("id");
          var data = {question: [], option: []};
          data["question"].push(question_id);
          data["option"].push(option_answer);
          $.ajax({
            url: "/create_response",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (data) {
                    //alert(data)
                    response = data;
                  }
                });
        });

        $("#dbltrbl").click(function () {
          var data = {response: []}
          data["response"].push(response);
          $.ajax({
            url: "<%= add_bonus_path %>",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (data) {
                    //alert(data)
                  }
                });
        });

        $("#tritry").click(function () {
          var data = {response: []}
          data["response"].push(response);
          $.ajax({
            url: "<%= add_bonus_tt_path %>",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (data) {
                    //alert(data)
                  }
                });
        });

        $("#submit_email").click(function () {
          var email = $("#referance_friend").val();
          var data = {email: []}
          data["email"].push(email);
          $.ajax({
            url: "<%= ref_mail_path %>",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (data) {
                    //alert(data)
                  }
                });

        });
        <%else%>
        $('#check_bonus').hide();

$('.answeroptions').click(function(){
          //alert("HH");
          //console.log(<%#=@question.close_time%>,<%#=Time.now%>);
          alert("Either closing time is finished or Question type");
        });

        <% end %>
        <%end%>
      });

var _gaq=[['_setAccount','UA-34697555-1'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));

</script>
