<link rel="stylesheet" type="text/css" href="assets/css/style8.css" />
<section class='section-wrapper'>
  <div class='container'>

    <!-- Row Start -->

    <div class='row'>

      <div class='span6'>

        <div>

          <div class="white-card">

            <div class="row-fluid" style="margin-top:15px;">
              <div class="span3">
                <img src="assets/img/avatar-4.png">
              </div>

              <div class="span5">
                <div class="section-header"><%= @user.name %></div>

                <div>
                  <ul style="list-style:none;">
                    <li><h4>Age: <%= @user.age %></h4></li>
                    <li><h4>Work Experience: <%= @user.workx %> Years</h4></li>
                    <li><h4>Industry: <%= @user.industry %></h4></li>
                    <li><h4>Location: <%= @user.location %></h4></li>
                    <li><h4>Facebook Linked: No</h4></li>
                  </ul>
                </div>

              </div>
              <div class="span4">

                <div class="row-fluid" style="text-align:center;">
                  <button class="btn btn-warning btn-large" style="margin-left:25px;" data-toggle="modal" data-target="#edit_profile">Edit Profile</button>
                </div>
                <div class="row-fluid">
                  <h4 style="margin-left:85px; margin-top:30px;">OR</h4>
                </div>
                <div class="row-fluid" style="text-align:center;">
                  <a href=""><button class="btn btn-info btn-large" style="margin-left:25px;">Connect With Facebook</button></a>
                </div>
                </br>
                </br>

              </div>
            </div>

          </div>


        </div>

      </div>

      <div class='span3'>
        <div class="accordion" id="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <strong><span>Your Score</span><span class="pull-right"><%= @points %> Points</span></strong>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <div class="blog-categories widget-tp">
                  <ul>
                    <li>
                      <a href="#">Your Current Rank is:<span class='pull-right'><%= @rank %></span></a>
                    </li>
                    <li>
                      <a href="#">Your Correct Answer Rate is:<span class='pull-right'><%= @answer_correct_rate %>%</span>
                        <div class="progress progress-striped active">
                          <div class="bar bar-success" style="width: <%= @answer_correct_rate %>%;"></div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='span3'>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <strong>Recent Activity</strong>
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse in">
              <div class="accordion-inner">
                <div class="blog-categories widget-tp">
                  <ul>
                    <!--<li>-->
                      <!--<a href="#">You answered a question for 10 points</a>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<a href="#">You won a bonus of 100 points in a double trouble gamble</a>-->
                    <!--</li>-->
                    <% @recent_activity=@recent_activity[0..2] rescue [] %>
                    <% @recent_activity[0..2].each do |re_ac| %>
                        <li>
                        <a href="#"><%= re_ac %></a>
                        </li>
                    <% end %>
                  </ul>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Row End -->

    <!-- Row Start -->

    <div class='row'>

      <div class='span12'>

        <ul class="ch-grid">
          <li onclick='window.location="/";'>
            <div class="ch-item ch-img-1">
              <div class="ch-info-wrap">
                <a href="#" style="text-decoration:none;">
                  <div class="ch-info">
                    <div class="ch-info-front ch-img-1"></div>
                    <div class="ch-info-back">
                      <h3>Home</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li onclick='window.location="/quiz";'>
            <div class="ch-item ch-img-2">
              <div class="ch-info-wrap">
                <a href="#" style="text-decoration:none;">
                  <div class="ch-info">
                    <div class="ch-info-front ch-img-1"></div>
                    <div class="ch-info-back">
                      <h3>Quiz</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li onclick='window.location="/archives";'>
            <div class="ch-item ch-img-3">
              <div class="ch-info-wrap">
                <a href="#" style="text-decoration:none;">
                  <div class="ch-info">
                    <div class="ch-info-front ch-img-1"></div>
                    <div class="ch-info-back">
                      <h3>Archives</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>

          <% if user_signed_in? %>
              <li onclick='window.location="/leaderboards";'>
                <div class="ch-item ch-img-4">
                  <div class="ch-info-wrap">
                    <a href="#" style="text-decoration:none;">
                      <div class="ch-info">
                        <div class="ch-info-front ch-img-1"></div>
                        <div class="ch-info-back">
                          <h3>Leader Board</h3>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li onclick='window.location="/profile";'>
                <div class="ch-item ch-img-5">
                  <div class="ch-info-wrap">
                    <a href="#" style="text-decoration:none;">
                      <div class="ch-info">
                        <div class="ch-info-front ch-img-1"></div>
                        <div class="ch-info-back">
                          <h3>Profile</h3>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
          <% end %>

        </ul>
      </div>

    </div>

    <!-- Row End -->

  </div>
</section>
<div id="edit_profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_tag :update_profile do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h3>Edit Profile</h3>
      </div>
      <div class="modal-body">
        <div class="row-fluid">
          <div class="span9">
            <p>
              <label>Name</label>
              <%= text_field_tag :name, @user.name %>
            </p>

            <p>
              <label>Age</label>
              <%= text_field_tag :age, @user.age %>
            </p>

            <p>
              <label>Work Experience</label>
              <%= text_field_tag :workx, @user.workx %>
            </p>

            <p>
              <label>Location (City,State)</label>
              <%= text_field_tag :location,@user.workx %>
            </p>

            <p>
              <label>Industry</label>
              <%= text_field_tag :industry, @user.industry %>
            </p>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "update", :class => "btn btn-medium btn-primary" %>
      </div>
  <% end %>
</div>
<script>
    var _gaq=[['_setAccount','UA-34697555-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
