<link rel="stylesheet" type="text/css" href="/assets/css/style2.css">
<link rel="stylesheet" type="text/css" href="/assets/css/common.css"/>
<script src="assets/jquery.dependent-selects.js"></script>
<script src="assets/jquery.validate.min.js"></script>

<script type="text/javascript">
  $(function(){

     $('#register_form').validate();

     $('#new_user').validate({
        onfocusout : function(element,event){
            if (element.id==="user_username") {
                this.element(element)
            }
        }
     });

      //$('#new_user').attr({
          //action: '',
          //method: ''
      //});

      $('#new_user').find('#new_usr_submit').on('click',function(evt) {
          evt.preventDefault();
////          $('#new_user').attr({
////              action: '',
////              method: ''
////          });
          var new_usr_uname = $('#new_user').find('#user_username').val();
          var uname_first_char = new_usr_uname.charAt(0);
          var uname_second_char = new_usr_uname.charAt(1);
          console.log(new_usr_uname);
          console.log(uname_first_char);
          console.log(uname_second_char);

          if ( (uname_first_char!="9") || (uname_second_char!="1") ) {
              console.log("You have entered username " + new_usr_uname);
              $('#new_user').find('#user_username').val("91"+new_usr_uname);
              console.log($('#new_user').find('#user_username').val());
              $('#new_user').attr({
                  action: '/users/sign_in',
                  method: 'post'
              });
              $('#new_user').submit();
//          }
////          else if ( (uname_first_char=="9") && (uname_second_char=="1") ) {
////            $('#new_user').attr({
////                action: ''
////            });
////            alert("yes");
          }
      });

  });
</script>

<section class='section-wrapper'>
<div class='container'>
<div class='row-fluid'>
  <div class="span9">
    <div class="row-fluid">
      <div class="span3" style="text-align:center; font-size: 1.2em">
        <div class="hero-unit">
          <%= image_tag "WWET.png" %>
        </div>
        Know your Economic Times to win exciting prizes
      </div>
      <div class="span9">
        <div class="row-fluid">
          <ul class="ch-grid">
            <li>
              <div class="ch-item ch-img-1" id="box1">
                <a href="#">
                  <div class="ch-info">
                    <div class="insetted-info">
                      <h4>The Quiz</h4>

                      <p> Read The Economic Times to play this quiz. Click to know how to participate</p>
                    </div>
                  </div>
                </a>
              </div>
            </li>
            <li>
              <div class="ch-item ch-img-2" id="box2">
                <a href="#">
                  <div class="ch-info">
                    <div class="insetted-info">
                      <h4>Archives</h4>

                      <p> Missed a question? Check out the archive for previous
                        questions.</p>

                    </div>
                  </div>
                </a>
              </div>
            </li>
            <li>
              <div class="ch-item ch-img-3" id="box3" data-toggle="modal" data-target="#prize_box">
                <a href="#">
                  <div class="ch-info">
                    <div class="insetted-info">
                      <h4>Prizes</h4>

                      <p>Learn about the exciting daily & weekly prizes and the GRAND PRIZE you can win.</p>

                    </div>
                  </div>
                </a>
              </div>
            </li>
            <!--<li>-->

            <!--<div class="ch-item ch-img-4" id="box4" data-toggle="modal" data-target="#profile_box">-->
            <!--<a href="#">-->
            <!--<div class="ch-info">-->
            <!--<h3>Profile</h3>-->

            <!--<p>View, edit or link your profile with your facebook account</p>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--</li>-->
          </ul>
        </div>
      </div>

    </div>
  </div>
  <% if !user_signed_in? %>
      <div class="span3">
        <div class="white-card">
          <h5>Registered Players</h5>
          <%#= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <!--<div class="row-fluid" style="padding-top: 5px;">-->
                <!--<div class="span12">-->
                  <!--<div class="input-prepend">-->
                    <!--<span class="add-on">91</span>-->
                    <!--&lt;!&ndash;<input class="span2" id="prependedInput" type="text" placeholder="Username">&ndash;&gt;-->
                    <!--<%#= f.text_field :username, :autofocus => true, :placeholder => "Mobile Number", :style => "width:79%;", :class => "required",:"data-msg-required"=> "Please enter your mobile number"  %>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="row-fluid">-->
                <!--<div class="span12">-->
                  <!--<%#= f.password_field :password, :placeholder => "Password", :style => "width:95%;", :class => "required",:"data-msg-required"=> "Please enter your password"  %>-->
                  <!--<%# flash.each do |name, msg| %>-->
                      <!--<%# if name==:alert %>-->
                        <!--<%# msg = "Invalid mobile number and password" %>-->
                        <!--<%#= content_tag :label, msg, :id => "flash_#{name}", :class => "error" if msg.is_a?(String) %>-->
                      <!--<%# end %>-->

                  <!--<%# end %>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row-fluid">-->
                <!--<div class="span12">-->
                  <!--<%#= f.submit "Sign in", :id=>"new_usr_submit", :class => "btn btn-primary", :style => "width:100%;margin-bottom:10px;" %>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row-fluid" style="text-align: center;">-->
                <!--<div class="span12">-->

                  <!--<a href="#" id="forgot_password_btn" onclick="forgot_password();">Forgot your Password</a>-->

                <!--</div>-->
              <!--</div>-->
          <%# end %>

          <!--<form method="post" id="new_user" class="new_user" action="/users/sign_in" accept-charset="UTF-8" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="SHv6Cas2Nm4Hh7stgmHFhfanN6v1eMhW9jbWSVPtSNQ=" name="authenticity_token"></div>-->
          <form method="post" id="new_user" class="new_user" action="" accept-charset="UTF-8" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="SHv6Cas2Nm4Hh7stgmHFhfanN6v1eMhW9jbWSVPtSNQ=" name="authenticity_token"></div>
            <div style="padding-top: 5px;" class="row-fluid">
              <div class="span12">
                <div class="input-prepend">
                  <span class="add-on">91</span>
                  <!--<input class="span2" id="prependedInput" type="text" placeholder="Username">-->
                  <!--<input type="text" style="width:79%;" size="30" placeholder="Mobile Number" name="user[username]" id="user_username" data-msg-required="Please enter your mobile number" class="required error" autofocus="autofocus"><label for="user_username" class="error">Please enter your mobile number</label>-->
                  <input type="text" style="width:79%;" size="30" placeholder="Mobile Number" name="user[username]" id="user_username" data-msg-required="Please enter your mobile number" class="required error">
                </div>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span12">
                <input type="password" style="width:95%;" size="30" placeholder="Password" name="user[password]" id="user_password" data-msg-required="Please enter your password" class="required">
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                <input type="submit" value="Sign in" style="width:100%;margin-bottom:10px;" name="commit" id="new_usr_submit" class="btn btn-primary">
              </div>
            </div>
            <div style="text-align: center;" class="row-fluid">
              <div class="span12">

                <a onclick="forgot_password();" id="forgot_password_btn" href="#">Forgot your Password</a>

              </div>
            </div>
          </form>

        </div>
        <div class="row-fluid">
          <div class="span12" style="text-align: center;">
            <a class="btn btn-danger" href="#" onclick="view_register();">Not Playing Yet? Register Here</a>
          </div>
        </div>
      </div>
  <% else %>
      <div class='span3'>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <strong><span>Your Score</span><span class="pull-right" id="points"><img src="/assets/loading.gif" style="height:24px;width:24px;"></span></strong>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <div class="blog-categories widget-tp">
                  <ul>
                    <li>
                      <a href="#">Your Current Rank
                        is:<span id="rank" class='pull-right'><img src="/assets/loading.gif" style="height:24px;width:24px;"></span></a>
                    </li>
                    <li>
                      <a href="#">Your Correct Answer Rate
                        is:<span id="percentage" class='pull-right'><img src="/assets/loading.gif" style="height:24px;width:24px;"></span>

                        <div class="progress progress-striped active">
                          <div class="bar bar-success"></div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <strong>Recent Activity</strong>
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <div class="blog-categories widget-tp">
                  <ul id="recent_activity">

                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <strong>Profile</strong>
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <div class="blog-categories widget-tp">
                  <ul id="user_profile">
                    <li><strong>Nickname</strong> :  <%= current_user.name %></li>
                    <li><strong>Location&nbsp;&nbsp;</strong> :  <%= current_user.location %></li>
                    <li><strong>Industry&nbsp;&nbsp;&nbsp;</strong> :  <%= current_user.industry %></li>
                    <li><button class="btn btn-info" id="profile_page" onclick='window.location="/profile"'>View Profile</button></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
<br>

<div class='row-fluid'>

  <div class='span8'>
    <div class="row-fluid">
      <div>
        <h3 class='section-header'>
          <span class=""><img src="/assets/img/trophy.png" style="width:8%;"/></span>
          The Daily Winners
          <div class="pull-right">
            <% if user_signed_in? %>
                <button class="btn btn-info" id="leaderbutton" onclick='window.location="/leaderboards"'>View The Leader
                  Board
                </button>
            <% end %>
          </div>
        </h3>
      </div>
    </div>

    <div class='testimonials'>

      <div class='testimonials-users row-fluid hidden-phone'>

        <div class='avatar-icon'>
          <a class='testimonials-user-w active' data-toggle='testimonial' href='#testimonial1' id='head1'>
            <span class='testimonials-user'><img alt="Avatar-1" src="/assets/img/landing/ai1.jpg"/></span>
          </a>
        </div>

        <div class='avatar-icon'>
          <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial2' id='head2'>
            <span class='testimonials-user'><img alt="Avatar-2" src="/assets/img/landing/ai2.jpg"/></span>
          </a>
        </div>

        <div class='avatar-icon'>
          <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial3' id='head3'>
            <span class='testimonials-user'><img alt="Avatar-4" src="/assets/img/landing/ai3.jpg"/></span>
          </a>
        </div>

        <div class='avatar-icon'>
          <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial4' id='head4'>
            <span class='testimonials-user'><img alt="Avatar-4" src="/assets/img/landing/ai4.jpg"/></span>
          </a>
        </div>

      </div>

      <div class='testimonials-speeches'>
        <% @daily_users=Array.new %>
        <% @daily_leaderboard=Array.new %>
        <% if !Question.find_by_insertion_date(Date.today).nil? %>
            <% @daily_questions=Question.find_by_insertion_date(Date.today) %>
            <% @daily_users=Response.find_all_by_question_id(@daily_questions.id).map { |i| i.user_id } %>
            <% @daily_users=@daily_users.flatten.uniq %>
            <% @daily_users.each do |d| %>
                <% @user_res=Array.new %>
                <% @user_res<<Response.find_all_by_question_id_and_user_id_and_is_correct(@daily_questions.id, d, true).last %>
                <% @user_res=@user_res.delete_if { |x| x==nil } %>
                <% @daily_leaderboard<<{:user_id => d, :score => @user_res.map { |i| i.points }.sum} %>
            <% end %>
            <% @daily_leaderboard.sort_by { |hsh| hsh[:score] }.reverse![0..4].each_with_index do |user, index| %>
                <div class='testimonials-speech' id='testimonial<%= (index+1) %>'>
                  <div class="row-fluid">
                    <div class="span2">
                      <% if User.find(user[:user_id]).picture.blank? %>
                          <img src="assets/img/avatar-4.png" style="width:100%;">
                      <% else %>
                          <%= image_tag User.find(user[:user_id]).picture.url rescue "" %>
                      <% end %>
                    </div>
                    <div class="span10">
                      <ul style="list-style: none;">
                        <li><%= User.find(user[:user_id]).nickname %></li>
                        <li><%= User.find(user[:user_id]).location %></li>
                        <li><%= User.find(user[:user_id]).industry %></li>
                      </ul>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>

        <% if user_signed_in? %>
            <div class='testimonials-speech' id='testimonial6'>
              <p>
                Check out your rank on our leaderboard and the scores of the top players. Work out a strategy to
                maximize
                your score to win the weekly and Grand Prizes
              </p>
            </div>
        <% else %>
            <div class='testimonials-speech' id='testimonial6'>
              <p>
                Log in to know your rank and to check out the scores of the top players.
              </p>
            </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class='span2' data-toggle="modal" data-target="#refer_box">
    <div class='white-card' id="refer-white-card">
      <div class='img-w hover-fader'>
        <a href="/assets/img/refer.png"><img alt="Photo-card-1" src="/assets/img/refer.jpg"/>
                            <span class='hover-fade'>
                            </span>
        </a>
      </div>
      <h5>
        <span class=""><img src="/assets/img/refericon.png" style="width:15%;"/></span>
        &nbsp;Refer a friend
      </h5>

      <p>Spread the word and earn bonus points! Refer the quiz to a friend today!</p>
    </div>
  </div>

  <div class='span2' data-toggle="modal" data-target="#rule_box">
    <div class='white-card' id="rules-white-card">
      <div class='img-w hover-fader'>
        <a href="/assets/img/cogs.jpg"><img alt="Photo-card-1" src="/assets/img/rules.jpg"/>
                            <span class='hover-fade'>
                            </span>
        </a>
      </div>
      <h5>
        <span class=""><img src="/assets/img/ruleicon.png" style="width:15%;"/></span>
        &nbsp;The Rules
      </h5>

      <p>Understand the quiz rules to ensure you play right and stay ahead.</p>
    </div>
  </div>
</div>
</div>
<br>
<br>
</section>
<% if user_signed_in? %>
    <div id="edit_profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <%= form_tag :update_profile do |f| %>
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
              <!--×-->
            <!--</button>-->
            <h3>New Profile</h3>
          </div>
          <div class="modal-body">
            <div class="row-fluid">
              <div class="span9">
                <p>
                  <label>Name</label>
                  <%= text_field_tag :name, current_user.name %>
                </p>

                <p>
                  <label>Age</label>
                  <%#= text_field_tag :age, @user.age %>
                  <%#= text_field_tag :age, current_user.age %>
                  <% age_array = (1..100).to_a.collect { |p| ["#{p}", p] } %>
                  <%= select_tag(:age, options_for_select(age_array, :selected => current_user.age), :prompt => "Select age") %>
                </p>

                <p>
                  <label>Work Experience</label>
                  <%#= text_field_tag :workx, @user.workx %>
                  <%#= text_field_tag :workx, current_user.workx %>
                  <% workx_array = (1..100).to_a.collect { |p| ["#{p}", p] } %>
                  <%= select_tag(:workx, options_for_select(workx_array, :selected => current_user.workx), :prompt => "Select work experience") %>
                </p>

                <p>
                  <label>Location (City,State)</label>
                  <%#= text_field_tag :location, @user.workx %>
                  <%#= text_field_tag :location, current_user.workx %>
                  <select name="location" class="dependent">
                    <option></option>
                    <option value="Andhra Pradesh, Hyderabad">Andhra Pradesh > Hyderabad</option>
                    <option value="Andhra Pradesh, Visakhapatnam">Andhra Pradesh > Visakhapatnam</option>
                    <option value="Assam, Guwahati">Assam > Guwahati</option>
                    <option value="Bihar, Patna">Bihar > Patna</option>
                    <option value="Chandigarh, Chandigarh">Chandigarh > Chandigarh</option>
                    <option value="Chhattisgarh, Raipur">Chhattisgarh > Raipur</option>
                    <option value="Delhi, Delhi">Delhi > Delhi</option>
                    <option value="Gujarat, Ahmedabad">Gujarat > Ahmedabad</option>
                    <option value="Gujarat, Surat">Gujarat > Surat</option>
                    <option value="Gujarat, Vadodara">Gujarat > Vadodara</option>
                    <option value="Haryana, Gurgaon">Haryana > Gurgaon</option>
                    <option value="Jammu and Kashmir, Jammu">Jammu and Kashmir > Jammu</option>
                    <option value="Jammu and Kashmir, Srinagar">Jammu and Kashmir > Srinagar</option>
                    <option value="Jharkhand, Ranchi">Jharkhand > Ranchi</option>
                    <option value="Karnataka, Bangalore">Karnataka > Bangalore</option>
                    <option value="Karnataka, Mysore">Karnataka > Mysore</option>
                    <option value="Kerala, Kochi (Cochin)">Kerala > Kochi (Cochin)</option>
                    <option value="Kerala, Thrissur">Kerala > Thrissur</option>
                    <option value="Kerala, Trivandrum (Thiruvananthapuram)">Kerala > Trivandrum (Thiruvananthapuram)
                    </option>
                    <option value="Madhya Pradesh, Bhopal">Madhya Pradesh > Bhopal</option>
                    <option value="Madhya Pradesh, Indore">Madhya Pradesh > Indore</option>
                    <option value="Maharashtra, Aurangabad">Maharashtra > Aurangabad</option>
                    <option value="Maharashtra, Mumbai">Maharashtra > Mumbai</option>
                    <option value="Maharashtra, Nagpur">Maharashtra > Nagpur</option>
                    <option value="Maharashtra, Pune">Maharashtra > Pune</option>
                    <option value="Orissa, Bhubaneswar">Orissa > Bhubaneswar</option>
                    <option value="Orissa, Cuttack">Orissa > Cuttack</option>
                    <option value="Orissa, Rourkela">Orissa > Rourkela</option>
                    <option value="Puducherry, Puducherry">Puducherry > Puducherry</option>
                    <option value="Punjab, Amritsar">Punjab > Amritsar</option>
                    <option value="Punjab, Jalandhar">Punjab > Jalandhar</option>
                    <option value="Punjab, Ludhiana">Punjab > Ludhiana</option>
                    <option value="Punjab, Patiala">Punjab > Patiala</option>
                    <option value="Rajasthan, Ajmer">Rajasthan > Ajmer</option>
                    <option value="Rajasthan, Jaipur">Rajasthan > Jaipur</option>
                    <option value="Rajasthan, Jodhpur">Rajasthan > Jodhpur</option>
                    <option value="Rajasthan, Udaipur">Rajasthan > Udaipur</option>
                    <option value="Tamil Nadu, Chennai">Tamil Nadu > Chennai</option>
                    <option value="Tamil Nadu, Coimbatore">Tamil Nadu > Coimbatore</option>
                    <option value="Tamil Nadu, Madurai">Tamil Nadu > Madurai</option>
                    <option value="Tamil Nadu, Salem">Tamil Nadu > Salem</option>
                    <option value="Tamil Nadu, Tiruchirappalli">Tamil Nadu > Tiruchirappalli</option>
                    <option value="Tripura, Agartala">Tripura > Agartala</option>
                    <option value="Uttar Pradesh, Agra">Uttar Pradesh > Agra</option>
                    <option value="Uttar Pradesh, Allahabad">Uttar Pradesh > Allahabad</option>
                    <option value="Uttar Pradesh, Bulandshahr">Uttar Pradesh > Bulandshahr</option>
                    <option value="Uttar Pradesh, Ghaziabad">Uttar Pradesh > Ghaziabad</option>
                    <option value="Uttar Pradesh, Kanpur">Uttar Pradesh > Kanpur</option>
                    <option value="Uttar Pradesh, Lucknow">Uttar Pradesh > Lucknow</option>
                    <option value="Uttar Pradesh, Noida">Uttar Pradesh > Noida</option>
                    <option value="Uttar Pradesh, Varanasi">Uttar Pradesh > Varanasi</option>
                    <option value="Uttarakhand, Dehradun">Uttarakhand > Dehradun</option>
                    <option value="West Bengal, Asansol">West Bengal > Asansol</option>
                    <option value="West Bengal, Howrah">West Bengal > Howrah</option>
                    <option value="West Bengal, Kolkata">West Bengal > Kolkata</option>
                    <option value="West Bengal, Siliguri">West Bengal > Siliguri</option>
                  </select>
                </p>

                <p>
                  <label>Industry</label>
                  <%#= text_field_tag :industry, @user.industry %>
                  <%#= text_field_tag :industry, current_user.industry %>
                  <%= select_tag "industry", options_for_select(["Graphic Design", "Architecture & Planning", "Engineering",
                                                                 "Cosmetics", "Apparel & Fashion",
                                                                 "Consumer Electronics",
                                                                 "Furniture",
                                                                 "Retail",
                                                                 "Import and Export",
                                                                 "Luxury Goods & Jewelry",
                                                                 "Marketing and Advertising",
                                                                 "Market Research",
                                                                 "Public Relations and Communications",
                                                                 "Human Resources",
                                                                 "Banking",
                                                                 "Insurance",
                                                                 "Financial Services",
                                                                 "Accounting",
                                                                 "Computer Hardware",
                                                                 "Computer Networking",
                                                                 "Telecommunications",
                                                                 "Information Technology and Services",
                                                                 "Chemicals",
                                                                 "Mining & Metals",
                                                                 "Oil & Energy",
                                                                 "Textiles",
                                                                 "Electrical/Electronic Manufacturing",
                                                                 "Plastics",
                                                                 "Packaging and Containers",
                                                                 "Media",
                                                                 "Animation",
                                                                 "Biotechnology",
                                                                 "Medical Practice",
                                                                 "Hospital & Health Care",
                                                                 "Pharmaceuticals",
                                                                 "Veterinary",
                                                                 "Consumer Services",
                                                                 "Entertainment",
                                                                 "Leisure, Travel & Tourism",
                                                                 "Hospitality",
                                                                 "Airlines/Aviation",
                                                                ], :selected => current_user.industry), :prompt => "Select industry" %>
                </p>
                <%= hidden_field_tag 'from_page', 'index' %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= submit_tag "Register", :class => "btn btn-medium btn-primary" %>
          </div>
      <% end %>
    </div>
<% end %>

<% if user_signed_in? %>
    <div id="refer_box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h3>Reference </h3>

      </div>
      <div class="modal-body">
        <p>Enjoy playing Win With ET? Get your friends to also join and earn 5 Bonus Points for each referral!</p>

        <p>Remember, bonus points will be added to your score only after your friend clicks on the referral link and
          registers</p>
        <h5>Enter the email addresses of your friends</h5>

        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span9">
            <input type="text" name="ref_email" id="referance_friend">
          </div>
        </div>

        <!--<hr>-->
        <!--<h5>OR</h5>-->

        <!--<a href="/get_connections/<#%= @usr_at %>">Get Connections</a>-->
      </div>
      <div class="modal-footer">
        <!--<a href="#" class="btn medium" data-dismiss="modal">Cancel</a>-->
        <a href="javascript:void(0);" class="btn medium btn-danger" data-dismiss="modal" id="submit_email">Submit</a>
      </div>
    </div>

<% else %>
    <div id="refer_box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h3>Please Login to refer a friend</h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
<% end %>

<div id="rule_box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3>Rules</h3>
  </div>
  <div class="modal-body">
    <h4>Here are some rules that you have to keep in mind while playing the quiz.</h4><br>
    <h5>1. For daily scores to get added to your grand total, a player has to send answers from the same mobile number.
      Your mobile number will be your unique identity. <br><br>
      2. You can change your answer any time during the day. The last answer received from a player (before 6:00 pm –
      end of day’s play) will be considered for evaluation. An answer received after 6:00 pm will not be considered.<br><br>
      3. Ensure that you use the correct keyword when you send the SMS<br><br>
      4. Registration is compulsory in order to be eligible to win weekly prizes and the Grand Prize.<br><br>
      5. Bonus points for “Refer A Friend” will be added to your score only after your friend clicks on the referral
      link and registers<br><br>
    </h5>


    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <!--<input type="text" name="ref_email" id="referance_friend">-->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!--<a href="#" class="btn medium" data-dismiss="modal">Cancel</a>-->
    <!--<a href="javascript:void(0);" class="btn medium btn-danger" data-dismiss="modal" id="submit_email">Submit</a>-->
  </div>
</div>

<div id="prize_box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3>Prize</h3>
  </div>
  <div class="modal-body">
    <h2>You can win exciting prizes!!!!! You can win exciting prizes!!!!! You can win exciting prizes!!!!!</h2>

    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<% if user_signed_in? %>

    <script type="text/javascript">
        $('#box4').click(function () {
            window.location = "/profile";
        });

    </script>
<% else %>

    <div id="profile_box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h3>Profile</h3>
      </div>
      <div class="modal-body">
        <h2>Please Login to view your profile</h2>

        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span9">
            <!--<input type="text" name="ref_email" id="referance_friend">-->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!--<a href="#" class="btn medium" data-dismiss="modal">Cancel</a>-->
        <!--<a href="javascript:void(0);" class="btn medium btn-danger" data-dismiss="modal" id="submit_email">Submit</a>-->
      </div>
    </div>
<% end %>




<script>
    $(document).ready(function () {

        <% if user_signed_in? %>
        $('.dependent').dependentSelects();
        var curr_usr_sign_in_count = "<%= current_user.sign_in_count %>";
        var display_modal = <%= current_user.display_modal %>;

        if ((curr_usr_sign_in_count <= 1) && (display_modal == false)) {
            $('#edit_profile').modal('show');

            $.ajax({
                url: "/control_edit_profile_modal",
                type: "post",
                success: function (data) {

                }
            });
        }
        <% end %>

        $(function () {
            $("#head1").addClass('magictime tinRightIn')
        });
        $(function () {
            $("#head2").addClass('magictime tinRightIn')
        });
        $(function () {
            $("#head3").addClass('magictime tinRightIn')
        });
        $(function () {
            $("#head4").addClass('magictime tinRightIn')
        });
        $(function () {
            $("#head5").addClass('magictime tinRightIn')
        });
        $(function () {
            $("#head6").addClass('magictime tinRightIn')
        });


        <%if user_signed_in?%>
        //var curr_usr_fb_sign_in_count = "<%#= current_user.fb_sign_in_count %>";
        var fb_signed_in = <%= current_user.fb_signed_in %>;

        $.ajax({
            url: "/recent_activity",
            type: "get",
            success: function (returning_data) {
                if (returning_data != '') {
                    returning_data = returning_data.split(",");
                    $('#recent_activity').html();
                    $.each(returning_data, function () {
                        recent = this.replace("[", "").replace("]", "").replace('"', '');
                        $("#recent_activity").append('<li><a href="#">' + recent + '</a></li>');
                    });
                }
            }
        });

        if (fb_signed_in == true) {

            $.ajax({
                url: "/update_fb_sign_in_score",
                type: "get",
                success: function (returning_data) {

                }
            });

        }

        $.ajax({
            url: "/get_score",
            type: "get",
            success: function (returning_data) {
                if (returning_data != '') {
                    returning_data = returning_data.split("|");
                    //var fb_sign_in_score = <%#= current_user.fb_sign_in_score.to_i %>;
                    var ref_pts = <%= current_user.refer_points.to_i %>;
                    var fb_signed_in = <%= current_user.fb_signed_in %>;

                    if (fb_signed_in == true) {
                        //$("#points").html(ref_pts + fb_sign_in_score + " Points");
                    }
                    else {
                        $("#points").html(<%=current_user.refer_points%>+"Points");
                    }


                    $("#rank").html(<%=User.order(:refer_points).map{|i| i.refer_points}.reverse.index(current_user.refer_points)+1%>);
                    $("#percentage").html(returning_data[2] + "%");
                    $(".bar").width(parseInt(returning_data[2]) + "%");
                }
            }
        });
        <%end%>
        $('#box1').click(function () {
            window.location = "/quiz";
        });
        $('#box2').click(function () {
            window.location = "/archives";
        });

        $("#submit_email").click(function () {
            var email = $("#referance_friend").val();
            var data = {email: []}
            data["email"].push(email);
            $.ajax({
                url: "<%= ref_mail_path %>",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    //alert(data)
                }
            });

        });


    });

    function view_register() {
        $('#register').modal('show')
        $('#register_form').find('.dependent').dependentSelects();
        $("#register_form").find('input[name="users[username]"]').val("");
        $("#register_form").find('input[name="users[email]"]').val("");
        $("#register_form").find('input[name="users[name]"]').val("");
        $("#register_form").find('input[name="users[nickname]"]').val("");
        $("#register_form").find('input[name="users[age]"]').val("");
        $("#register_form").find('input[name="register_location"]').val("");
        $("#register_form").find('input[name="users[industry]"]').val("");
        $('#after_register').show();
    }


</script>











<div id="register" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding: 10px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3>Sign Up</h3>
  </div>
  <br>
  <%#= form_for(resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:id => "register_form"}) do |f| %>
  <div class="modal-body" style="overflow: hidden">
    <%= form_for :users, :html => {:id => "register_form"} do |f| %>
        <%= devise_error_messages! %>

        <div class="row-fluid">
          <div class="span12">
            <div>


              <div class="input-prepend">
                <span class="add-on">91</span>
                <!--<input class="span2" id="prependedInput" type="text" placeholder="Username">-->
                <%= f.text_field :username, :placeholder => "Mobile Number" %>
              </div>

              &nbsp;&nbsp;
              <span><a class="btn btn-info" href="#" type="button" id="password_submit" style="display:none;">Password</a></span>
            </div>
          </div>
        </div>


        <div id="after_register">
          <div class="row-fluid">
            <div class="span12">
              <div>
                <%= f.email_field :email, :autofocus => true, :placeholder => "Email",:class => "required" %></div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12">
              <div>
                <%= f.text_field :name, :placeholder => "Full Name",:class => "required" %></div>
            </div>
          </div>


          <div class="row-fluid">
            <div class="span12">
              <div>
                <%= f.text_field :nickname, :placeholder => "Nickname",:class => "required" %></div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12">
              <div>
                <% age_array = (0..100).to_a.collect { |p| ["#{p}", p] } %>
                <%= f.select(:age, options_for_select(age_array), :prompt => "Select age") %>
              </div>
            </div>
          </div>


          <div class="row-fluid">
            <div class="span12">
              <div>
                <% workx_array = (1..100).to_a.collect { |p| ["#{p}", p] } %>
                <%= f.select(:workx, options_for_select(workx_array), :prompt => "Select work experience") %>
              </div>
            </div>
          </div>


          <div class="row-fluid">
            <div class="span12">
              <div>
                <select name="register_location" class="dependent" id="register_location">
                  <option></option>
                  <option value="Andhra Pradesh, Hyderabad">Andhra Pradesh > Hyderabad</option>
                  <option value="Andhra Pradesh, Visakhapatnam">Andhra Pradesh > Visakhapatnam</option>
                  <option value="Assam, Guwahati">Assam > Guwahati</option>
                  <option value="Bihar, Patna">Bihar > Patna</option>
                  <option value="Chandigarh, Chandigarh">Chandigarh > Chandigarh</option>
                  <option value="Chhattisgarh, Raipur">Chhattisgarh > Raipur</option>
                  <option value="Delhi, Delhi">Delhi > Delhi</option>
                  <option value="Gujarat, Ahmedabad">Gujarat > Ahmedabad</option>
                  <option value="Gujarat, Surat">Gujarat > Surat</option>
                  <option value="Gujarat, Vadodara">Gujarat > Vadodara</option>
                  <option value="Haryana, Gurgaon">Haryana > Gurgaon</option>
                  <option value="Jammu and Kashmir, Jammu">Jammu and Kashmir > Jammu</option>
                  <option value="Jammu and Kashmir, Srinagar">Jammu and Kashmir > Srinagar</option>
                  <option value="Jharkhand, Ranchi">Jharkhand > Ranchi</option>
                  <option value="Karnataka, Bangalore">Karnataka > Bangalore</option>
                  <option value="Karnataka, Mysore">Karnataka > Mysore</option>
                  <option value="Kerala, Kochi (Cochin)">Kerala > Kochi (Cochin)</option>
                  <option value="Kerala, Thrissur">Kerala > Thrissur</option>
                  <option value="Kerala, Trivandrum (Thiruvananthapuram)">Kerala > Trivandrum (Thiruvananthapuram)
                  </option>
                  <option value="Madhya Pradesh, Bhopal">Madhya Pradesh > Bhopal</option>
                  <option value="Madhya Pradesh, Indore">Madhya Pradesh > Indore</option>
                  <option value="Maharashtra, Aurangabad">Maharashtra > Aurangabad</option>
                  <option value="Maharashtra, Mumbai">Maharashtra > Mumbai</option>
                  <option value="Maharashtra, Nagpur">Maharashtra > Nagpur</option>
                  <option value="Maharashtra, Pune">Maharashtra > Pune</option>
                  <option value="Orissa, Bhubaneswar">Orissa > Bhubaneswar</option>
                  <option value="Orissa, Cuttack">Orissa > Cuttack</option>
                  <option value="Orissa, Rourkela">Orissa > Rourkela</option>
                  <option value="Puducherry, Puducherry">Puducherry > Puducherry</option>
                  <option value="Punjab, Amritsar">Punjab > Amritsar</option>
                  <option value="Punjab, Jalandhar">Punjab > Jalandhar</option>
                  <option value="Punjab, Ludhiana">Punjab > Ludhiana</option>
                  <option value="Punjab, Patiala">Punjab > Patiala</option>
                  <option value="Rajasthan, Ajmer">Rajasthan > Ajmer</option>
                  <option value="Rajasthan, Jaipur">Rajasthan > Jaipur</option>
                  <option value="Rajasthan, Jodhpur">Rajasthan > Jodhpur</option>
                  <option value="Rajasthan, Udaipur">Rajasthan > Udaipur</option>
                  <option value="Tamil Nadu, Chennai">Tamil Nadu > Chennai</option>
                  <option value="Tamil Nadu, Coimbatore">Tamil Nadu > Coimbatore</option>
                  <option value="Tamil Nadu, Madurai">Tamil Nadu > Madurai</option>
                  <option value="Tamil Nadu, Salem">Tamil Nadu > Salem</option>
                  <option value="Tamil Nadu, Tiruchirappalli">Tamil Nadu > Tiruchirappalli</option>
                  <option value="Tripura, Agartala">Tripura > Agartala</option>
                  <option value="Uttar Pradesh, Agra">Uttar Pradesh > Agra</option>
                  <option value="Uttar Pradesh, Allahabad">Uttar Pradesh > Allahabad</option>
                  <option value="Uttar Pradesh, Bulandshahr">Uttar Pradesh > Bulandshahr</option>
                  <option value="Uttar Pradesh, Ghaziabad">Uttar Pradesh > Ghaziabad</option>
                  <option value="Uttar Pradesh, Kanpur">Uttar Pradesh > Kanpur</option>
                  <option value="Uttar Pradesh, Lucknow">Uttar Pradesh > Lucknow</option>
                  <option value="Uttar Pradesh, Noida">Uttar Pradesh > Noida</option>
                  <option value="Uttar Pradesh, Varanasi">Uttar Pradesh > Varanasi</option>
                  <option value="Uttarakhand, Dehradun">Uttarakhand > Dehradun</option>
                  <option value="West Bengal, Asansol">West Bengal > Asansol</option>
                  <option value="West Bengal, Howrah">West Bengal > Howrah</option>
                  <option value="West Bengal, Kolkata">West Bengal > Kolkata</option>
                  <option value="West Bengal, Siliguri">West Bengal > Siliguri</option>
                </select>
              </div>
            </div>
          </div>


          <div class="row-fluid">
            <div class="span12">
              <div>
                <%= f.select "industry", options_for_select(["Graphic Design", "Architecture & Planning", "Engineering",
                                                             "Cosmetics", "Apparel & Fashion",
                                                             "Consumer Electronics",
                                                             "Furniture",
                                                             "Retail",
                                                             "Import and Export",
                                                             "Luxury Goods & Jewelry",
                                                             "Marketing and Advertising",
                                                             "Market Research",
                                                             "Public Relations and Communications",
                                                             "Human Resources",
                                                             "Banking",
                                                             "Insurance",
                                                             "Financial Services",
                                                             "Accounting",
                                                             "Computer Hardware",
                                                             "Computer Networking",
                                                             "Telecommunications",
                                                             "Information Technology and Services",
                                                             "Chemicals",
                                                             "Mining & Metals",
                                                             "Oil & Energy",
                                                             "Textiles",
                                                             "Electrical/Electronic Manufacturing",
                                                             "Plastics",
                                                             "Packaging and Containers",
                                                             "Media",
                                                             "Animation",
                                                             "Biotechnology",
                                                             "Medical Practice",
                                                             "Hospital & Health Care",
                                                             "Pharmaceuticals",
                                                             "Veterinary",
                                                             "Consumer Services",
                                                             "Entertainment",
                                                             "Leisure, Travel & Tourism",
                                                             "Hospitality",
                                                             "Airlines/Aviation",
                                                            ]), :prompt => "Select industry"%></div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="modal-footer">
      <div class="row-fluid" style="margin-bottom: 10px;">
        <div class="span12">
          <a class="btn btn-success" href="#" type="button" id="register_submit">Sign Up</a>
        </div>
      </div>
    </div>
  </div>



<div id="forgot_password" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding: 10px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3>Forgot Your Password</h3>
  </div>
  <br>
  <div class="modal-body" style="overflow: hidden">
    <div class="row-fluid">
      <div class="span12">
        <div>
          <%#= text_field_tag :username %>
           <br>
          <div class="input-prepend">
            <span class="add-on">91</span>
            <%= text_field_tag :username %>
          </div>
          <p>You are not registered. Please, register.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row-fluid" style="margin-bottom: 10px;">
      <div class="span12">
        <a class="btn btn-success" href="#" type="button" id="forgot_submit">Send</a>
      </div>
    </div>
  </div>
</div>

</div>

<script type="text/javascript">





    $(function () {

        $("#register_form").find('input[name="users[username]"]').on('input', function () {
            var mobile_no = ($("#register_form").find('input[name="users[username]"]').val());
            var data = {username: []}
            data["username"].push(mobile_no);
            $.ajax({
                url: "<%= mobile_no_checking_path %>",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    if (data == "Nothing") {

                    }
                    else {
                        setTimeout(function () {
                            $('#password_submit').show();
                            $('#after_register').hide();
                            $('#register_submit').hide();

                        }, 2000);

                        $('#password_submit').on("click", function () {
                            var data = {mobile_no: []}
                            data["mobile_no"].push(mobile_no);
                            $.ajax({
                                url: "<%= change_password_path %>",
                                type: "POST",
                                contentType: "application/json",
                                data: JSON.stringify(data),
                                success: function (data) {
                                }
                            });
                        });

                    }
                }
            });

        });
    });


    $('#register_submit').on("click", function () {


        if ($("#register_form").find('input[name="users[username]"]').val() == "") {
            alert("Please enter your phone number");
        }
        else if ($("#register_form").find('input[name="users[email]"]').val() == "") {
            alert("Please enter your email");
        }
        else if ($("#register_form").find('input[name="users[name]"]').val() == "") {
            alert("Please enter your name");
        }
        else if ($("#register_form").find('input[name="users[nickname]"]').val() == "") {
            alert("Please enter your nickname");
        }

        else if ($("#register_form").find('#users_age').val() == "") {
            alert("Please enter your Age");
        }
        else if ($("#register_form").find('#users_workx').val() == "") {
            alert("Please enter your Work Experience");
        }
//        else if (($("#register_form").find('#register_location').val()=="") && ($("#register_form").find('.dependent-sub').val()=="")){
//            alert("Please enter your Location") ;
//        }

        else if ($("#register_form").find('#users_industry').val() == "") {
            alert("Please enter your Industry");
        }

        else {
            $('#register_form').attr({
                action: 'my_new_user',
                method: 'post'
            });


            $('##register_form').submit();


        }
    });


    function forgot_password(){
        $('#forgot_password').modal('show');
        $('#forgot_password').find('input[name="username"]').val("");
        $('#forgot_submit').hide();
    }


    //if ($('#forgot_password').find('input[name="username"]').val().length>=10){
        //
    //}
    $('#forgot_password').find('input[name="username"]').on('input', function (){
        var mobile_no = $('#forgot_password').find('input[name="username"]').val();
        //console.log(mobile_no.length);

        var uname_first_char = mobile_no.charAt(0);
        var uname_second_char = mobile_no.charAt(1);
        //console.log(uname_first_char);
        //console.log(uname_second_char);


        if (mobile_no.length>9){
            if ( (uname_first_char!="9") || (uname_second_char!="1") ) {
                //$('#forgot_password').find('input[name="username"]').val("91"+mobile_no);
                var prepended_mob_no = "91"+$('#forgot_password').find('input[name="username"]').val();
                //console.log(prepended_mob_no);
            }
        }
            var data = {username: []}
            //data["username"].push(mobile_no);
            data["username"].push(prepended_mob_no);
            console.log(data["username"]);
            $.ajax({
                url: "<%= mobile_no_checking_path %>",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    if (data=="Nothing"){
                        console.log(data);
                    }
                    else
                    {
                        $('#forgot_submit').show();
                    }

                    $('#forgot_submit').on("click", function () {

                        var data = {mobile_no: []}
                        //data["mobile_no"].push(mobile_no);
                        data["mobile_no"].push(prepended_mob_no);
                        $.ajax({
                            url: "<%= change_password_path %>",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(data),
                            success: function (data) {
                                //alert(data);
                            }
                        });
                    });

                }
            })



    });


</script>


