<h2>Contact Us</h2>

<p>In case we haven't been able to answer your queries through our FAQs section, please get in touch with us by filling the form below. </p>

<%= form_for @feedback, :as => :feedback, :url => feedback_path, :html => {:id => "feedback_form"} do |f| %>
  <%= f.hidden_field 'page' %>
  <% unless @error_message.blank? %>
    <p class="error">
      <%=h @error_message %>
    </p>
  <% end %>

    <p>
      <%= f.label 'Your e-mail id' %>
      <%= f.text_field 'email' %>
    </p>

  <p>
    <%= f.label 'Subject' %>
    <%= f.select 'subject', ['Technical Problems', 'Scoring Issues', 'Others'] %>
  </p>

  <p>
    <%= f.label 'comment' %>
    <%= f.text_area 'comment', :rows => 5, :cols => 30 %>
  </p>
  <p>
    <%= f.submit 'Send',:id=>"send_feedback", :style=>"display:none;" %>
    <div class="btn btn-small btn-primary" id="send_feed">Send</div>
  </p>
<% end %>

<script type="text/javascript">
  $('#send_feed').click(function(){
    if($('#feedback_email').val().length<=0){
      $('#feedback_email').parent().append('<label for="user_username" class="error">Please enter your username</label>');
    }
    else{
      $('#send_feedback').trigger('click');
    }
  });
  
</script>

