<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Win with ET</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="/assets/css/theme_venera.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Abel:400|Oswald:300,400,700" media="all" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/magic.css">

  <script type="text/javascript" src="/assets/js/modernizr.custom.79639.js"></script>
  <%= javascript_include_tag "application" %>
  <script src="/assets/js/theme_venera.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
  <%= feedback_includes %>
  <style>
      .btn-custom-danger{
          /*background: linear-gradient(to bottom, #EA362C 0%, #DD5C00 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
          background: #f13f20;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          color: #FFFFFF;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      }
      
      @media all and (min-width: 801px) and (max-width: 1024px) {
        .custom-navbar{
          width: 87%;
        }
        .custom-top{
          padding-right:18px;
        }
      }
     @media (min-width: 1025px) {
      .custom-navbar{
        width: 74%;
      }
      .custom-top{
        padding-right:180px;
      }
     }
  </style>

  <script type="text/javascript">
      var browser;

      $(function(){
          function get_browser(){
              var N=navigator.appName, ua=navigator.userAgent, tem;
              var M=ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
              if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
              M=M? [M[1], M[2]]: [N, navigator.appVersion, '-?'];
              return M[0];
          }

          browser=get_browser();

          console.log("Browser :- " + browser);
          console.log("Window width :- " + $(window).width());

          if ( (browser=="Firefox") && ($(window).width() >= 1263) ) {
              $(".custom-navbar").css("width","105%");
          }
      });


  </script>

</head>
<body>

<header id='header'>

  <div class='navbar custom-navbar' style="position:absolute;top:0px;margin-left: 154px;">
    <div class='navbar-inner' style="box-shadow: none;">
        <div>
          <a class="btn pull-left" href="/quiz" style="background-color:transparent;background-image:none;box-shadow: none;border-radius: 0px;border-style:none;">Know the Game</a>
          <a class="btn pull-left" href="/archives" style="background-color:transparent;background-image:none;box-shadow: none;border-radius: 0px;border-style:none;">Question Trail</a>
          <a class="btn pull-left" href="/leaderboards" style="background-color:transparent;background-image:none;box-shadow: none;border-radius: 0px;border-style:none;">Leaderboard</a>
          <div class="pull-right custom-top">
            <a class="btn btn-custom-danger" href="#" id="contact_us">Contact Us</a>
            <a class="btn btn-info" href="#" id="faqcall">FAQs</a>
            <% if user_signed_in? %>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "top-create-account btn btn success" %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</header>

<%= yield %>

<%#= js extend_gritter :position => :bottom_right %>
<%#= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
<%#= js add_gritter(flash[:message], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
<%#= js add_gritter(flash[:alert], :image => :warning, :title => "Alert!", :sticky => false, :time => 2000) %>

<div id="faqmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3>FAQs</h3>
  </div>
  <div class="modal-body">

    <a href="#q_01"> <h4 id="first_q">1. What is Win with ET? </h4> </a>
    <a href="#q_02"> <h4>2. What is the eligibility criterion to participate in the quiz?</h4> </a>
    <a href="#q_03"> <h4>3. How do I register on the website?</h4> </a>
    <a href="#q_04"> <h4>4. What is the scoring system of this quiz? </h4> </a>
    <a href="#q_05"> <h4>5. Can I submit my answer on the website?</h4> </a>
    <a href="#q_06"> <h4>6. Can I change my answer once I have sent the SMS?</h4> </a>
    <a href="#q_07"> <h4>7. How are winners arrived at, and informed?</h4> </a>
    <a href="#q_08"> <h4>8. How do I track my scores?</h4> </a>
    <a href="#q_09"> <h4>9. What can I see on the Leaderboard?</h4> </a>
    <a href="#q_10"> <h4>10. Why do I see numbers like 91XXXXXXX4213 on the leaderboard?</h4> </a>
    <a href="#q_11"> <h4>11. Can I continue to play and win if I have already won any of the prizes?</h4> </a>
    <a href="#q_12"> <h4>12. How and where all can I avail the Indiatimes voucher?</h4> </a>
    <a href="#q_13"> <h4>13. Is it compulsory to register on the website to play the game?</h4> </a>


    <hr>

    <h4 id="q_01"> 1. What is Win with ET? </h4>

    <p>Win with ET is a game which features in The Economic Times every weekday (Monday to Friday), based on an article in the newspaper. Every day a multiple choice question will be asked based on an article in the day’s paper. You can play by sending your answers via SMS. Not only does it make newspaper reading a fun experience, you can also win attractive prizes.</p>
    <a href="#first_q" style="float: right;">Back to Top</a>
    <br>

    <h4 id="q_02">2. What is the eligibility criterion to participate in the quiz?</h4>

    <p>An individual above 18 years of age, currently residing in Bangalore, India, with a valid ID proof is eligible to participate in the quiz. A valid ID proof is any of the following:
    <ul>
      <li>Passport</li>
      <li>PAN Card</li>
      <li>Driving License</li>
      <li>Voter ID</li>
      <li>Aadhar Card</li>
    </ul>
    </p>
    <a href="#first_q" style="float: right;">Back to Top</a>
    <br>

    <h4 id="q_03">3. How do I register on the website?</h4>

    <p>
    <ol style="list-style: lower-alpha;">
      <li>Click on Not registered? Sign up link on the home page</li>
      <li>Complete the Registration form and sign up</li>
      <li>You will receive a password via SMS</li>
      <li>Log in with your mobile number and the password received</li>
    </ol>
    Please be sure to use the same mobile number to play the quiz every day. This number will act as your unique identity to which all points in the scoring system are linked.
    </p>
    <a href="#first_q" style="float: right;">Back to Top</a>
    <br>

    <h4 id="q_04">4. What is the scoring system of this quiz? </h4>

    <p>Every correct answer for a daily question will fetch a player, 10 points</p>
    <p>On certain days, Promotions will be introduced which will enable players to earn extra points. Players have the option to choose or ignore promotions for that particular day.</p>
    <p>If availed, scores will be awarded according to the promotion of that day. If not availed, scores will be awarded according to the standard scoring system.</p>
    <ol style="list-style: decimal;">
      <li>
        Happy Hours
        <ul style="list-style: disc;">
          <li>Players who answer before 11:00 AM get 20 points for the day</li>
        </ul>
      </li>
      <li>
        Double Delight
        <ul style="list-style: disc;">
          <li>Activate Double Delight and earn 20 points for a correct answer</li>
          <li>If the answer is wrong, lose 20 points</li>
        </ul>
      </li>
      <li>
        Triple Treat
        <ul style="list-style: disc;">
          <li>Activate Triple Treat and earn 30 points for a correct answer</li>
          <li>If the answer is wrong, lose 30 points</li>
        </ul>
      </li>
    </ol>
    <a href="#first_q" style="float: right;">Back to Top</a>
    <br>

    <h4 id="q_05">5. Can I submit my answer on the website?</h4>

    <p>You can submit an answer only via SMS. SMS WINET&lt;space&gt;A/B/C/D to +91 9818505252. You will not be able to submit the answer on the website.</p>
    <a href="#first_q" style="float: right;">Back to Top</a>
    <br>

    <h4 id="q_06">6. Can I change my answer once I have sent the SMS?</h4>

    <p>You can change your answer any time during the day. The last answer received from you (<strong>before 6:00 pm</strong> – end of day’s play) will be considered for evaluation. An answer received after 6:00 pm will not be considered.</p>
    <a href="#first_q" style="float: right;">Back to Top</a>
    <br>

    <h4 id="q_07">7. How are winners arrived at, and informed?</h4>
    <p>Daily Winners - Every day 5 winners will be decided through a lucky draw from all the correct entries received for the day. Winners will be informed via telephone and email.</p>
    <p>Weekly Winners – 3 players with the highest score at the end of the week will be declared weekly winners. In case of a tie, a lucky draw will decide the winners. After winners have been declared for a particular week, scores are reset for all players for next week’s game play. The total points collected however, will continue to accumulate towards the grand prize.</p>
    <p>Grand Prize - A player with the highest score for the entire playing season will be the grand prize winner. In the event of a tie, a lucky draw will decide the winner.</p>
    <p>Winners will be informed via telephone and e-mail.  Winners will have to submit a valid ID proof via email within 24 hours after intimation. This is a part of the verification process. In case we do not receive the required proof, the winner will not be able to claim the prize.</p>
    <a href="#first_q" style="float: right;">Back to Top</a>
    <br>

    <h4 id="q_08">8. How do I track my scores?</h4>

    <p>Players need to register with Win with ET in order to track their scores and rank.</p>
    <a href="#first_q" style="float: right;">Back to Top</a>
    <br>

    <h4 id="q_09">9. What can I see on the Leaderboard?</h4>

    <p>The Leaderboard page displays </p>
    <ol style="list-style: decimal;">
      <li>Daily winners – 5 winners of the day</li>
      <li>Weekly winners – 3 winners of the week</li>
      <li>Weekly Leaders – top 10 scorers of the week</li>
      <li>Grand Prize Leaders – top 10 scorers of the game</li>
    </ol>
    <a href="#first_q" style="float: right;">Back to Top</a>
    <br>

    <h4 id="q_10">10. Why do I see numbers like 91XXXXXXX4213 on the leaderboard?</h4>

    <p>Leaderboard displays names of the winners or leaders who have updated their profile details on the website. In case, a winner or a leader has not updated his/her details or registered on the website, the player’s mobile number will be displayed in the above format.</p>
    <a href="#first_q" style="float: right;">Back to Top</a>
    <br>

    <h4 id="q_11">11. Can I continue to play and win if I have already won any of the prizes?</h4>

    <p>You can continue to play irrespective of the prizes won. There is no limit on the number of times you win.</p>
    <a href="#first_q" style="float: right;">Back to Top</a>
    <br>

    <h4 id="q_12">12. How and where all can I avail the Indiatimes voucher?</h4>

    <p>The Indiatimes gift vouchers can only be utilised for shopping online on <a href="http://www.indiatimes.com" target="_blank">www.indiatimes.com</a>. These vouchers can be clubbed if you win multiple times while playing the game and are valid till April 7th, 2014.</p>
    <a href="#first_q" style="float: right;">Back to Top</a>

    <h4 id="q_13">13. Is it compulsory to register on the website to play the game?</h4>

    <p>Registration is not compulsory. You can continue to play without registering. However, to track your scores, you need to register.</p>
    <a href="#first_q" style="float: right;">Back to Top</a>

  </div>
  <div class="modal-footer">
  </div>
</div>

<div id="tncmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3>TERMS & CONDITIONS</h3>
  </div>
  <div class="modal-body">
    <!--<p><h5>Contest Details:</h5></p>-->
    <!--<ul style="list-style: disc;">-->
    <!--<li><strong>Win With ET</strong> is an initiative of and the sole property of Bennett, Coleman & Co. Ltd (BCCL), the publishers of <strong>The Economic Times</strong> newspaper. Win with ET is supported by partners as published on <a href="www.win.economictimes.com">www.win.economictimes.com</a></li>-->
    <!--<li>Period of contest: The quiz is open for a period of 4 weeks from  21st October, 2013 to  15th November, 2013 - Every day from Monday to Friday except holidays when the newspaper is not published</li>-->
    <!--<li>Win With ET is open to people currently residing in Bangalore only</li>-->
    <!--</ul>-->

    <h5>Contest Details:</h5>
    <ul style="list-style: disc;">
      <li><strong>Win With ET</strong> is an initiative of and the sole property of Bennett, Coleman & Co. Ltd (BCCL), the publishers of The Economic Times newspaper. Win with ET is supported by partners as published on <a href="http://www.winwithet.com" target="_blank">www.winwithet.com</a></li>
      <li>Period of contest: The quiz is open for a period of 4 weeks from  21st October, 2013 to  15th November, 2013 - Every day from Monday to Friday except holidays when the newspaper is not published</li>
      <li>Win With ET is open to people currently residing in Bangalore only</li>
    </ul>

    <h5>Eligibility</h5>
    <ul style="list-style: disc;">
      <li>Eligibility: Any person currently residing in Bangalore, India, above 18 years of age and having a valid ID proof.</li>
      <li>There is no entry fee to the quiz. However SMS charges are applicable as per the user’s tariff plan. The mobile number being used by Win With ET is a Delhi based number.</li>
    </ul>

    <h5>Participation Rules:</h5>
    <ul style="list-style: disc;">
      <li>Participant referred in further sections implies person(s) who plays the quiz</li>
      <li>One participant is allowed to play with only one mobile number. Participants playing with multiple mobile numbers will be disqualified at sole discretion of BCCL.</li>
      <li>Single User ID - Participant’s mobile number will be his/her unique identity </li>
    </ul>

    <h5>Playing the quiz:</h5>
    <ul style="list-style: disc;">
      <li>Every weekday (Monday to Friday), a question will feature in the Win With ET column in The Economic Times</li>
      <li>The answer to the question will be a part of an article in that day’s paper. </li>
      <li>The Economic Times will consider the answer correct only if it matches with that appearing in the paper. No other sources will be considered.</li>
      <li>Participant has to send the response in the format - WINET A/B/C/D. If the participant sends the answer itself, it will be considered invalid</li>
      <li>Playing Hours - The quiz is open only till 6:00 pm every day. Any SMS received after 6 pm will not be considered for evaluation</li>
      <li>Messages sent with incorrect keywords will not be considered</li>
      <li>Participant can change his/her answer any time during the day. The last answer received from a participant (before 6:00 pm – end of day’s play) will be considered for evaluation. </li>
    </ul>

    <h5>Winners: </h5>
    <ul style="list-style: disc;">
      <li>There are 3 categories of winners </li>
      <ul>
        <li>Daily Winners - Indiatimes Gift Vouchers worth Rs. 2500 </li>
        <li>Weekly Winner - Indiatimes Gift Vouchers worth Rs. 5000</li>
        <li>Grand Prize - One iPad Mini, 64 GB</li>
        <li>The Indiatimes vouchers can be clubbed and are valid till April 7, 2014</li>
      </ul>

      <li>Process of selection of winners</li>
      <ul>
        <li>Daily - Among the participants who have correctly answered, 5 winners will be selected every day on a random basis (lucky draw), by a computer system</li>
        <li>Weekly - Participants with top 3 cumulative scores for the week will be declared the week’s winners. If there are more than 3 participants with the top score, winners will be selected on a random basis (lucky draw), by a computer system</li>
        <li>Grand Prize - Participant with the top cumulative score for the month will be declared the grand prize winner</li>
      </ul>

      <li>Daily winners will be announced by 8:00 am the following morning on the website <a href="http://www.winwithet.com" target="_blank">www.winwithet.com</a> </li>
      <li>Weekly winners will be announced latest by 8:00 am the following Monday </li>
      <li>The grand prize winner will be announced in the third week of November 2013</li>
      <li>Correspondence: Any correspondence from Win with ET to participants will be directed by email and/or SMS and/or letter to your email address and/or postal address as provided by you, for which you provide your consent.</li>
      <li>Decision of BCCL shall be final. No communication will be entered into with any person in relation to any decision of the process.</li>
      <li>Participants will be asked to furnish valid documentation supporting their registration details if he/she has won a prize. Non-compliance will lead to disqualification.</li>
      <li>The Economic Times can verify participants by themselves or through any third party at any stage of the quiz.</li>
      <li>The Economic Times/BCCL reserves the right to terminate the registration at any time or in the event that the information, including your e-mail address, is no longer current or accurate. The participant shall be the only authorized user of the User Name and Password.</li>
      <li>Three attempts will be made to contact shortlisted participants. Records for the same will not be shared with the shortlisted participants. Failing which the prizes, if any will be awarded to the next eligible participant.</li>
      <li>Any applicable tax to be paid for claiming prizes, if at all is the responsibility of the shortlisted participants.</li>
      <li>The benefits of this quiz cannot be clubbed with any other offer/promotion/contest hosted by The Economic Times and/or Bennett, Coleman & Co. Ltd.</li>
    </ul>

    <h5><p>Promotions:</p></h5>
    <p>On certain days, Promotions may be introduced which will enable participants to earn extra points. Participants have the option to choose or ignore promotions for that particular day. </p>
    <p>If availed, scores will be awarded according to the promotion of that day. If not availed, scores will be awarded according to the standard scoring system prescribed.</p>

    <ol>
      <li>Happy Hours – </li>
      <ul>
        <li>Players who answer before 11:00 am get double the points for the day</li>
      </ul>
      <li>Double Delight</li>
      <ul>
        <li>If the question is attempted with Double Delight, player wins 20 points if correct and loses 20 points if wrong</li>
        <li>If Double Delight is not selected, points for the question will remain at 10 points</li>
      </ul>
      <li>Triple Treat – </li>
      <ul>
        <li>If the question is attempted with Triple Treat, player wins 30 points if correct and loses 30 points if wrong</li>
        <li>If this promotion is not selected, points for the question will remain at 10 points</li>
      </ul>
    </ol>

    <h5>Website:</h5>
    <ul>
      <li>The content available on the quiz website, <a href="http://www.winwithet.com" target="_blank">www.winwithet.com</a> is the sole property of BCCL and its partners and is protected by copyrights, trademarks, service marks, patent or other proprietary rights and laws.</li>
      <li>Quiz details published on the website <a href="http://www.winwithet.com" target="_blank">www.winwithet.com</a> is for informational purpose only.</li>
      <li>While The Economic Times/BCCL makes every reasonable effort to ensure the quality and accuracy of the information posted on the quiz website, BCCL assumes no responsibility for, and does not guarantee, the accuracy, currency, completeness or usefulness of information in any material about the quiz, and does not endorse, oppose or edit any opinions, recommendations or predictions posted by the participants or other members. However BCCL may remove or delete from the website what appears to be potentially unlawful content or content otherwise prohibited under these Terms and Conditions.</li>
      <li>Use of this site is restricted to authorized personnel only. Actual or attempted unauthorized use of this site shall result in criminal or civil prosecution by BCCL or its affiliates.</li>
      <li>These Terms and conditions are set forth herein as an agreement between BCCL and the participant and is subject to change without further notice.</li>
      <li>Disputes if any will be limited to the exclusive jurisdiction of Bangalore courts only</li>
    </ul>

    <h5>Rules and regulations</h5>
    <ul>
      <li>Employees, officers, directors, agents, representatives (along with their family members) of 'The Economic Times' and 'Bennett, Coleman & Co. Ltd.', their respective subsidiaries, affiliates, quiz partners and advertising and promotional agencies are not eligible to participate in the quiz.</li>
      <li>The quiz will be hosted with the start and end dates as decided by BCCL. BCCL reserves the right to modify, cancel, discontinue or terminate The Economic Times – Win with ET quiz at any time or to accept or reject any or all entries at their absolute discretion without giving any prior notice and without assigning any reasons whatsoever. Decision of the Economic Times/BCCL will be final and binding on all participants and no correspondence will be entertained in this regard.</li>
      <li>Win with ET may change the Terms and Conditions of participation at any time without prior notice. The amended Terms and Conditions of Entry will be effective immediately upon being posted on the website. Important changes to the Terms and Conditions may be highlighted on the website <a href="http://www.winwithet.com" target="_blank">www.winwithet.com</a> for your convenience; however, you acknowledge that it is your sole responsibility to regularly visit the website to read any changes to the Terms and Conditions </li>
      <li>Participant agrees that he/she shall be solely responsible for all statements made, or acts or omissions that occur through the use of their Username and Password.</li>
      <li>Participants hereby agree not to provide or make known his/her Username, Password or e-mail address to any other person for the purpose of facilitating such person's access and unauthorized use.</li>
      <li>Participant hereby agrees that all content herein is the sole property of The Economic Times and/or BCCL and its quiz partners.</li>
      <li>Participants understand and hereby agree that the information in, or derived from, predictions and other information including without limitation text, graphics, images, animations, computer quiz, data, designs, logos and button icons and the arrangement, collection and assembly thereof, is the property of The Economic Times and/or BCCL, and may not be copied, modified, adapted, translated, mirrored, decompiled, disassembled, republished, redistributed, transmitted, altered, edited or exploited in any manner for any purpose. Participants alone are hereby permitted to display, print and store one (1) electronic copy of information provided by The Economic Times/BCCL for own/personal use.</li>
      <li>Participants hereby agree that upon posting Information or conducting Communications, he/she grants The Economic Times/BCCL and its successors and assigns a non-exclusive, worldwide, royalty-free, perpetual, irrevocable, unrestricted license under your copyrights or other intellectual property rights in such Information or Communications, if any, to use, license, sub-license, adapt, distribute, display, publicly perform, reproduce, transmit, modify, edit and create derivative works from such material in any and all media, in any manner, in whole or in part, now known or hereafter developed without any duty to account to the participant.</li>
      <li>Participant hereby waives all rights to any claim against The Economic Times and BCCL or its affiliates and quiz partners for any alleged or actual infringement of any proprietary rights, rights of privacy and publicity, moral rights, and rights of attribution in connection with such Information or Communications.</li>
      <li>Participant grants BCCL the right to authorize the downloading and printing of such Information or Communications, or any portion thereof, by other users for their use.</li>
      <li>Participant hereby agrees that BCCL may, in their sole discretion, terminate or suspend his/her access to all or part of quiz for any reason, including without limitation breach of these Terms and Conditions (or any subsequent modifications hereof)</li>
      <li>Participant hereby agrees that BCCL, its affiliates, and any independent contractor and quiz partners engaged by The Economic Times/BCCL to assist in moderating quiz, shall not be liable in any way, and the participant hereby also agrees to indemnify and hold harmless The Economic Times/BCCL, its affiliates, and any independent contractor and quiz partners to assist in moderating the quiz, from any claim, demand, proceeding, damages, injuries, liabilities, losses, costs or expenses (including reasonable attorneys' fees) made by any third party relating to or arising out of</li>
      <ol style="list-style: decimal;">
        <li>your use of this site or any information, products, services or software available on or through this site;</li>
        <li>your breach of these Terms and Conditions or other improper act or omission by you;</li>
        <li>any inaccuracy, error or delay in, or omissions of </li>
        <ol style="list-style: lower-alpha;">
          <li>any such data or information on the quiz or </li>
          <li>the transmission or delivery of any such data or information;</li>
        </ol>
        <li>unauthorized access;</li>
        <li>theft; or</li>
        <li>any loss or damage arising from or occasioned by</li>
        <ol style="list-style: lower-alpha;">
          <li>any such inaccuracy, error, delay or omission; or</li>
          <li>non-performance</li>
        </ol>
      </ol>
    </ul>

    <h5>Disclaimer</h5>
    <ul>
      <li>The Economic Times/BCCL and its affiliates and quiz partners shall not be liable to you or any third party for any claims related to your termination from the quiz.</li>
      <li>The Economic Times /BCCL is providing this quiz website and its contents on an "as is" basis and makes no representations or warranties of any kind, express or implied, as to the operation of this website or the content, information and materials contained within or accessible through this site, including without limitation, that they are accurate, complete or current.</li>
      <li>BCCL's decision will be final and no correspondence in this regard will be entertained. The entries shall be the sole property of BCCL, who shall be free to use the same for any promotional or other activities in future.</li>
      <li>The Economic Times/BCCL holds no warranty and makes no representation regarding the quality of the prizes, if any. All the prizes will fall under the standard terms and conditions for warranty as defined by the concerned Company by whom the Prizes/Grand Prize is sponsored/ manufactured. Winners of the Prizes shall be bound by the terms and conditions as communicated to them by the respective sponsors. Prizes cannot be exchanged for their value in cash or for other prizes.</li>
      <li>Participants are solely responsible for any expenses incurred in participating in the quiz or in the acceptance and use of the prizes. BCCL and sponsors shall not be responsible for any loss or damages suffered by the winners while availing the offer</li>
      <ul>


  </div>
  <div class="modal-footer">
  </div>
</div>

<div id="prize_box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3>Prize</h3>
  </div>
  <div class="modal-body">
    <h2>You can win exciting prizes!!!!! You can win exciting prizes!!!!! You can win exciting prizes!!!!!</h2>

    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>

<footer>
  <div class="deep-footer" style="margin-top: 120px;">
    <div class="container" style="padding-bottom: 10px;margin-top: 10px;">
      <div class="row-fluid">
        <div class="span10">
          <div class="copyright"><a id="tnc" style="cursor: pointer; color: #000000;">&copy; 2013 Terms and Conditions</a><span style="float: right; padding-right: 18px;"><a style="color:#000000;" href="http://economictimes.indiatimes.com" target="_blank">THE ECONOMIC TIMES</a></span></div>
        </div>

        <!--<div class="span2">-->
          <!--<ul class="footer-links">-->
          <!--</ul>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</footer>

<script>
    $("#faqcall").on("click", function () {
        $("#faqmodal").modal("show");
    });

    $("#tnc").on("click", function () {
        $("#tncmodal").modal("show");
    });

    $('#win_the_game').on("click",function(){
         $('#prize_box').modal("show");
    });

    $('#contact_us').feedback();


</script>

<script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');



    ga('create', 'UA-44964472-1', 'winwithet.com');

    ga('send', 'pageview');



</script>

</body>
</html>
